/* Test 2 */

.btn {
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
}

.btn-primary {
    background: rgba(255, 111, 0, 1);
    background: -moz-linear-gradient(left, rgba(255, 111, 0, 1) 0%, rgba(255, 64, 0, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 111, 0, 1)), color-stop(100%, rgba(255, 64, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 111, 0, 1) 0%, rgba(255, 64, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 111, 0, 1) 0%, rgba(255, 64, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 111, 0, 1) 0%, rgba(255, 64, 0, 1) 100%);
    background: linear-gradient(to right, rgba(255, 111, 0, 1) 0%, rgba(255, 64, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff6f00', endColorstr='#ff4000', GradientType=1);
    border-color: transparent !important;
}