/* Animations */


/* ScrollTrigger */

.fade-up,
.fade-right,
.fade-left {
    opacity: 0;
    transition: all 0.5s linear;
    &.visible {
        opacity: 1;
        transform: none;
    }
}

.fade-up {
    transform: translateY(100%);
}

.fade-down {
    transform: translateY(-100%);
}

.fade-right {
    transform: translateX(-100%);
}

.fade-left {
    transform: translateX(100%);
}


/* media-text header animation */

.wp-block-media-text {
    &.is-style-header {
        figure {
            opacity: 0;
            transition: all 1.25s ease-out;
            transform: translateX(100%);
        }
        &.visible {
            figure {
                opacity: 1;
                transform: none;
            }
        }
    }
}