// stylelint-disable value-keyword-case
$font__main: "Montserrat",
sans-serif;
// stylelint-enable value-keyword-case
$font__code: "Montserrat",
sans-serif;
$font__pre: "Montserrat",
sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;