/* Gutenberg */

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.alignwide {
    max-width: 1200px; // ???
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
    /*  @media (min-width: 1400px) {
        max-width: 1400px;
    }*/
}

.row-reverse {
    flex-direction: row-reverse;
}


/* Block wp-block-media-text */

.wp-block-media-text.alignwide {
    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
    background-image: url('../img/dots1.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-top: 5rem;
    padding-bottom: 5rem;
    figure {
        position: relative;
        width: 100%;
        padding-bottom: 66%;
        border-radius: 0.5rem 15rem 15rem 15rem;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &.has-media-on-the-right {
        background-position: right center;
        figure {
            border-radius: 15rem 0.5rem 15rem 15rem;
        }
    }
}


/* Section services */

.services {
    background-color: #F6F7FC;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    .wp-block-columns {
        margin-bottom: 0;
        .wp-block-columns {
            padding-right: 4rem;
        }
    }
}


/* Section call to action */

.call-to-action {
    color: white;
    background-color: var(--wayako-color1);
    border-radius: 1rem;
    padding: 1.75rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    h3 {
        color: rgba(255, 255, 255, .85);
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0;
    }
    .wp-block-button.is-style-outline {
        .wp-block-button__link:not(.has-text-color) {
            color: white;
            border-color: white;
            &:hover {
                color: var(--wayako-color1);
                background-color: white;
            }
        }
    }
}


/**/

.pricing {}


/*
.features {
    .wp-block-columns {
        margin-bottom: 0;
        .wp-block-column {
            padding: 2rem;
            margin-left: 0;
            @media (min-width: 600px) {
                border-right: 1px solid #eeeeee;
                flex-basis: 50%;
            }
            &:nth-child(even) {
                border-right: none;
            }
        }
        &:not(:last-child) {
            .wp-block-column {
                @media (min-width: 600px) {
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
        &:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
            @media (min-width: 600px) {
                margin-left: 0;
            }
        }
    }
}*/

.breadcrumb {
    font-size: .85em;
    a {
        color: #0F0E0F;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
    }
}