/* Gutenberg */

.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.alignwide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row-reverse {
    flex-direction: row-reverse;
}


/* Services */

.services {
    background-color: #F6F7FC;
    padding-top: 9.375rem;
    padding-bottom: 9.375rem;
    .wp-block-columns {
        .wp-block-columns {
            padding-right: 4rem;
        }
    }
}


/**/

.block-service {
    margin-bottom: 2rem;
    padding: 2rem;
    background-color: #FFF;
    border-style: solid;
    border-width: 0 0 0 0;
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem 0 #eae5ee;
    &__picto {
        margin-bottom: 3rem;
    }
    &__title {
        font-size: 1rem;
        color: var(--wayako-color1);
        margin-bottom: 1.5rem;
    }
    &__link {
        display: none;
        text-decoration: none;
    }
    &:hover {
        color: white;
        background-color: var(--wayako-color1);
        .block-service__title {
            color: white;
        }
        .block-service__picto {
            display: none;
        }
        .block-service__link {
            display: block;
            color: white;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/**/


/*
.features {
    .wp-block-columns {
        margin-bottom: 0;
        .wp-block-column {
            padding: 2rem;
            margin-left: 0;
            @media (min-width: 600px) {
                border-right: 1px solid #eeeeee;
                flex-basis: 50%;
            }
            &:nth-child(even) {
                border-right: none;
            }
        }
        &:not(:last-child) {
            .wp-block-column {
                @media (min-width: 600px) {
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
        &:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
            @media (min-width: 600px) {
                margin-left: 0;
            }
        }
    }
}*/


/* Hero */

.block-hero {
    background-color: #F6F7FC;
    min-height: 25rem;
    display: flex;
    margin-bottom: 9.375rem;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 15.5rem;
    }
    &__sub-title {
        color: var(--wayako-color2);
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 2.125rem;
        margin-bottom: 0;
    }
    &__title {
        color: #1A191C;
        font-size: 4.375rem;
        font-weight: 600;
        line-height: 5rem;
        margin: 1rem 0;
    }
}

.breadcrumb {
    font-size: .85em;
    a {
        color: #0F0E0F;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
    }
}