/* Header */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (min-width: 960px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}