/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


/* TESTs */


/*
.page-template-agence {
    @media (min-width: 768px) {
        #page {
            transition: all 0.3s ease-in-out;
        }
        &.menu-is-open {
            #page {
                padding-left: 18rem;
            }
        }
    }
}
/*
.page-template-expertises {
    @media (min-width: 768px) {
        #wrapper-navbar {
            position: absolute;
        }
        #page {
            padding-left: 3rem;
        }
    }
}

.page-template-contact {
    @media (min-width: 768px) {
        #page {
            transition: all 0.3s ease-in-out;
            padding-left: 3rem;
        }
        #wrapper-navbar {
            position: absolute;
        }
        &.menu-is-open {
            #page {
                padding-left: 18rem;
            }
        }
    }
}*/