/* Settings */
/* Global */
:root {
  /* Font Family */
  --global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
  --global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
  /**/
  --global--line-height-body: 1.7;
  --global--font-size-base: 1rem;
  --global--color-primary: #39353D;
  --global--color-background: white;
  /* */
  --wayako-color1: #ff7d2d;
  --wayako-color2: #DD38B4;
  --wayako-color3: #ef823e;
  --wayako-gray1: #DADCDE;
  --wayako-gray2: #39353D;
}

body {
  color: var(--wayako-gray2);
  font-family: "Montserrat", Sans-serif;
  font-size: 1.125rem;
}

a {
  color: var(--wayako-color1);
}

/**/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1A191C;
  font-weight: 600;
}

h1 {
  font-size: 4.375rem;
  line-height: 5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

h5,
.h5 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

/*
h3.h4 {
    color: var(--wayako-color1);
}*/
/**/
.nav-link {
  /*  display: block;
    padding: 0.5rem 1rem;*/
  color: #0F0E0F;
  font-size: 1rem;
  /*   text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;*/
}

.nav-link:hover {
  color: var(--wayako-color1);
}

.nav-link:focus {
  color: var(--wayako-color1);
}

.nav-link:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

/**/
/*
.clip-type1 img {
    clip-path: path('M227,0H602a16,16,0,0,1,16,16V227A227,227,0,0,1,391,454H227A227,227,0,0,1,0,227v0A227,227,0,0,1,227,0Z');
}

.dots1 {
    background-image: url('../img/dots1.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}*/
/**/
.sub-title {
  color: var(--wayako-color2);
  font-weight: 400;
  text-transform: uppercase;
}

.sub-title-sep {
  color: #47404E;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-title-sep:before {
  content: '';
  width: 2rem;
  height: 2px;
  background-color: var(--wayako-color2);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

/**/
.wp-block-navigation-item.current-menu-item a {
  color: var(--wayako-color1);
}

/* Test wrapper */
/* Animations */
/**/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration-thickness: 1px;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/**
 * Reset specific elements to make them easier to style in other contexts.
 */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/**
  * Apply generic border-box to all elements.
  * See:
  * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
html {
  /* Apply border-box across the entire page. */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--global--font-secondary);
  line-height: var(--global--line-height-body);
}

/**
  * Relax the definition a bit, to allow components to override it manually.
  */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: var(--global--font-size-base);
  font-weight: normal;
  color: var(--global--color-primary);
  text-align: left;
  background-color: var(--global--color-background);
}

button {
  cursor: pointer;
}

/* Blocks */
/*
@import "05-blocks/hero";
@import "05-blocks/service";
@import "05-blocks/pricing";
@import "05-blocks/breadcrumb";
@import "05-blocks/projects";
@import "05-blocks/projects-slider";
@import "05-blocks/image-box";
@import "05-blocks/testimonials-slider";
/**/
/* Buttons */
.wp-block-button .wp-block-button__link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 32px 16px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
  color: white;
  background-color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
}

.wp-block-button.is-style-fill .wp-block-button__link {
  background-color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
}

.wp-block-button.is-style-fill .wp-block-button__link:hover {
  background-color: var(--wayako-color3);
}

/* Header */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .site-header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.site-header .site-header__main-nav {
  z-index: 1080;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .site-header .site-header__main-nav {
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 2rem;
    background: white;
    -webkit-box-shadow: 0 0.625rem 1.25rem 0 #eae5ee;
            box-shadow: 0 0.625rem 1.25rem 0 #eae5ee;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.site-header .site-header__main-nav ul.main-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  /**/
  /**/
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
}

.site-header .site-header__main-nav ul.main-menu .menu-item a {
  color: #0F0E0F;
  font-size: 1rem;
  text-decoration: none;
  padding-right: 0;
  padding-left: 0;
  display: block;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu .menu-item a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.sub-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  background-color: #FFF;
  border: unset;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.sub-menu {
    -webkit-box-shadow: 0 0 1.25rem 0 #eae5ee;
            box-shadow: 0 0 1.25rem 0 #eae5ee;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.sub-menu li:not(:last-child) {
  border-style: solid;
  border-color: rgba(234, 229, 238, 0.41);
  border-width: 0;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.sub-menu li:not(:last-child) {
    border-bottom-width: 1px;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.sub-menu li a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  display: block;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.sub-menu li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.sub-menu li a:hover {
  color: var(--wayako-color1);
  background-color: white;
}

.site-header .site-header__main-nav ul.main-menu ul.sub-menu li:first-child a {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.site-header .site-header__main-nav ul.main-menu ul.sub-menu li:last-child a {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.site-header .site-header__main-nav ul.main-menu .menu-item-has-children:hover ul {
  display: block;
}

.site-header .site-header__main-nav ul.main-menu > li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.site-header .site-header__main-nav ul.main-menu > li a {
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu > li > a:hover {
    color: var(--wayako-color1);
  }
  .site-header .site-header__main-nav ul.main-menu > li > a:hover:after {
    content: '';
    display: block;
    width: calc( 100% - 1rem);
    height: 2px;
    background-color: var(--wayako-color2);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .site-header .site-header__main-nav ul.main-menu > li.current-menu-item > a {
    color: var(--wayako-color1);
  }
  .site-header .site-header__main-nav ul.main-menu > li.current-menu-item > a:after {
    content: '';
    display: block;
    width: calc( 100% - 1rem);
    height: 2px;
    background-color: var(--wayako-color2);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu {
  background-color: #FFF;
  border: unset;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.dropdown-menu {
    -webkit-box-shadow: 0 0 1.25rem 0 #eae5ee;
            box-shadow: 0 0 1.25rem 0 #eae5ee;
    position: absolute;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:not(:last-child) {
  border-style: solid;
  border-color: rgba(234, 229, 238, 0.41);
  border-width: 0;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:not(:last-child) {
    border-bottom-width: 1px;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li a:hover {
  color: var(--wayako-color1);
  background-color: white;
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:first-child a {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:last-child a {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* Burger menu */
.navbar-toggler {
  display: block;
  border: none;
  background: transparent !important;
  padding: 1rem 1rem;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-toggler:focus, .navbar-toggler:focus-visible {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: var(--wayako-color1) auto 1px;
}

.navbar-toggler .icon-bar {
  background-color: #19273F;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar:nth-child(2) {
  width: 16px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.primary-navigation-open .navbar-toggler .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.primary-navigation-open .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.primary-navigation-open .navbar-toggler .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

/* test */
@media (max-width: 767.98px) {
  .primary-menu-container {
    visibility: hidden;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
}

@media (max-width: 767.98px) {
  .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .main-menu .sub-menu {
    position: relative !important;
    display: block !important;
  }
}

.primary-navigation {
  margin-left: auto;
}

.primary-navigation-open .primary-menu-container {
  top: 5rem;
  background-color: white;
  position: absolute;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* Footer */
.site-footer {
  font-size: 1rem;
}

.site-footer__container ul {
  list-style: none;
}

.site-footer__container a {
  color: #0F0E0F;
  font-size: 1rem;
  text-decoration: none;
}

.site-footer__container a:hover {
  color: var(--wayako-color1);
}

.site-footer__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.site-footer__widgets > .widget:first-child {
  width: 40%;
}

.site-footer__widgets .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__widgets .footer-title {
  color: var(--wayako-color2);
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.125rem;
  margin-bottom: 1.5rem;
}

.site-footer__widgets ul.menu {
  padding-left: 0;
}

.site-footer__widgets ul.menu li {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.site-footer__widgets ul.menu li a {
  font-weight: 500;
  white-space: nowrap;
}

.site-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-top: solid var(--wayako-gray1) 1px;
}

.site-footer__copyright ul.menu {
  padding-left: .3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-footer__copyright ul.menu li {
  padding-left: .5rem;
  padding-right: .5rem;
}

.site-footer__copyright > .widget:last-child {
  margin-left: auto;
}

.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-twitter,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-github,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-skype {
  color: #C3C4C7;
}

.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-twitter:hover,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-github:hover,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-skype:hover {
  color: var(--wayako-color1);
}

/* To top */
#topbutton {
  position: fixed;
  display: none;
  height: 2.125rem;
  width: 2.125rem;
  right: 0.9rem;
  bottom: 0.9rem;
  z-index: 1;
  background-color: var(--wayako-color2);
  text-decoration: none;
  border: solid #FFFFFF 1px;
  border-radius: .5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#topbutton:hover {
  background-color: var(--wayako-color2);
}

#topbutton:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z'/%3E%3C/svg%3E");
  background-position: center .4375rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Modals */
/* Forms */
input[type=text],
input[type=email] {
  border: solid var(--wayako-gray1) 1px;
  border-radius: 1.025rem;
  padding: 11px 31px;
}

input[type=text]:focus-visible,
input[type=email]:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

textarea {
  border: solid var(--wayako-gray1) 1px;
  border-radius: 1.025rem;
  padding: 11px 31px;
}

textarea:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

::-moz-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

:-ms-input-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

:-moz-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

input[type=submit] {
  color: white;
  background-color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 32px 16px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

input[type=submit]:hover {
  background-color: var(--wayako-color3);
}

input[type=submit]:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

/* Comments */
/* Splide */
.splide__arrow {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.splide__arrow--prev {
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .3125rem;
}

.splide__arrow--next {
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .3125rem;
}

.splide__arrow svg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: 8px;
  height: 2.2rem;
  vertical-align: middle;
  width: 2.2rem;
}

/* Utilities */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.skip-link:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

@media (prefers-reduced-motion) {
  * {
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
  }
}

/* Plugins */
/* Complianz */
.cmplz-show-banner {
  cursor: pointer;
}

.cmplz-show-banner:hover {
  color: var(--wayako-color1);
}

/* GDPR Data Request Form */
/* Contact Form 7 */
/* Gutenberg */
/* Gutenberg */
/* Colors variables */
/* Generate Colors classes */
.has-blue-1-color {
  color: #00558F;
}

.has-blue-1-background-color {
  background-color: #00558F;
}

.has-blue-2-color {
  color: #00476A;
}

.has-blue-2-background-color {
  background-color: #00476A;
}

.has-green-1-color {
  color: #0A99A7;
}

.has-green-1-background-color {
  background-color: #0A99A7;
}

.has-green-2-color {
  color: #068799;
}

.has-green-2-background-color {
  background-color: #068799;
}

.has-orange-color {
  color: #f94213;
}

.has-orange-background-color {
  background-color: #f94213;
}

.has-black-color {
  color: #000000;
}

.has-black-background-color {
  background-color: #000000;
}

.has-grey-color {
  color: #F6F7FC;
}

.has-grey-background-color {
  background-color: #F6F7FC;
}

.has-white-color {
  color: #FFFFFF;
}

.has-white-background-color {
  background-color: #FFFFFF;
}

/**/
.alignfull {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.alignwide {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - calc(2 * 2rem));
}

@media (min-width: 1200px) {
  .alignwide {
    max-width: 1200px;
  }
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Block wp-block-media-text */
.wp-block-media-text.alignwide {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  background-image: url("../img/dots1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.wp-block-media-text.alignwide figure {
  position: relative;
  width: 100%;
  padding-bottom: 66%;
  border-radius: 0.5rem 15rem 15rem 15rem;
  overflow: hidden;
}

.wp-block-media-text.alignwide figure img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wp-block-media-text.alignwide:not(.has-media-on-the-right) .wp-block-media-text__content {
  padding-right: 0;
}

.wp-block-media-text.alignwide.has-media-on-the-right {
  background-position: right center;
}

.wp-block-media-text.alignwide.has-media-on-the-right .wp-block-media-text__content {
  padding-left: 0;
}

.wp-block-media-text.alignwide.has-media-on-the-right figure {
  border-radius: 15rem 0.5rem 15rem 15rem;
}

.wp-block-media-text.alignwide.is-header {
  background-image: url("../img/dots1-circles.png");
  margin-top: 2rem;
}

.wp-block-media-text.alignwide.is-header figure {
  padding-bottom: 70%;
}

/* Section services */
.services {
  background-color: #F6F7FC;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  margin-bottom: 5rem;
}

.services .wp-block-columns {
  margin-bottom: 0;
}

.services .wp-block-columns .wp-block-columns {
  padding-right: 4rem;
}

/* Section call to action */
.call-to-action {
  color: white;
  background-color: var(--wayako-color1);
  border-radius: 1rem;
  padding: 1.75rem;
  margin-top: 5rem;
}

.call-to-action.wp-block-columns {
  margin-bottom: 5rem;
}

.call-to-action h3 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0;
}

.call-to-action .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: white;
  border-color: white;
}

.call-to-action .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
  color: var(--wayako-color1);
  background-color: white;
}

/* Element p as read more link */
.read-more-link {
  margin-bottom: 2rem;
}

.read-more-link a {
  color: #0F0E0F;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.read-more-link a:after {
  content: '';
  width: .6875rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%230F0E0F' d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.read-more-link a:hover {
  color: var(--wayako-color1);
}

.read-more-link a:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23f94213' d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
}

/**/
/*
.features {
    .wp-block-columns {
        margin-bottom: 0;
        .wp-block-column {
            padding: 2rem;
            margin-left: 0;
            @media (min-width: 600px) {
                border-right: 1px solid #eeeeee;
                flex-basis: 50%;
            }
            &:nth-child(even) {
                border-right: none;
            }
        }
        &:not(:last-child) {
            .wp-block-column {
                @media (min-width: 600px) {
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
        &:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
            @media (min-width: 600px) {
                margin-left: 0;
            }
        }
    }
}*/
.breadcrumb {
  font-size: .85em;
}

.breadcrumb a {
  color: #0F0E0F;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
/*# sourceMappingURL=wayako.css.map */