/* Agence */

.page-template-agence {
    /* agence */
    .agence {
        margin-bottom: 3rem;
        .left {
            background-color: #2D2F2B;
            padding: 5rem 3rem 1rem 5rem;
            @media (min-width: 768px) {
                width: 50%;
                padding: 5rem 3rem 5rem 5rem;
            }
        }
        .right {
            padding: 1.5rem;
            @media (min-width: 768px) {
                width: 50%;
                padding: 3rem;
                padding-left: 6%;
            }
        }
        .sub-title {
            img {
                max-width: 15rem;
            }
            p {
                font-weight: 700;
                width: min-content;
                margin-left: -2rem;
            }
        }
    }
    /* dfis*/
    .defis {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 10rem;
        @media (min-width: 768px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        .left {
            @media (min-width: 768px) {
                width: 56%;
                padding: 2rem 5rem 2rem 5rem;
            }
        }
        .right {
            z-index: -1;
            @media (min-width: 768px) {
                width: 44%;
            }
        }
        .slogan {
            font-size: 1rem;
            line-height: 1.4;
            max-width: 58rem;
            padding: 1rem;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: 768px) {
                font-size: 1.5rem;
                margin-top: -1.5rem;
            }
        }
    }
    /* valeurs */
    .valeurs {
        position: relative;
        padding-top: 2.4rem;
        padding-bottom: 4rem;
        margin-bottom: 2.4rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 5%;
            width: 70%;
            height: 80%;
            background-color: #F7F7F7;
            z-index: -1;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 3rem;
            left: 1rem;
            width: 70%;
            height: 92%;
            background-color: #707070;
            z-index: -1;
        }
        h2 {
            line-height: 0.8;
            overflow: hidden;
            padding-bottom: 2rem;
            span {
                display: block;
            }
            span:last-child {
                white-space: nowrap;
            }
        }
        .left {
            margin-bottom: 3rem;
            @media (min-width: 768px) {
                margin-top: -5rem;
            }
            @media (min-width: 992px) {
                width: 35%;
            }
        }
        .right {
            width: 100%;
            @media (min-width: 992px) {
                width: 50%;
            }
            .pictos {
                padding: 3rem 3rem 3rem 3rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='276.941' height='300' viewBox='0 0 276.941 300'%3E%3Cpath id='Tracé_43' data-name='Tracé 43' d='M-63.691,0H154.045V300H-122.9Z' transform='translate(122.896)' fill='%23fff'/%3E%3C/svg%3E%0A");
                background-position: left center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 4rem;
                @media (min-width: 768px) {
                    width: unset;
                    padding: 3rem 3rem 3rem 6rem;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='854.564' height='300' viewBox='0 0 854.564 300'%3E%3Cpath id='Tracé_43' data-name='Tracé 43' d='M59.795,0H731.668V300H-122.9Z' transform='translate(122.896)' fill='%23fff'/%3E%3C/svg%3E%0A");
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    max-width: 50rem;
                    max-height: 16.75rem;
                    aspect-ratio: 3;
                }
                div {
                    margin-bottom: 1.5rem;
                    @media (min-width: 768px) {
                        margin-bottom: 0;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
                max-width: 5rem;
                max-height: 5rem;
                @media (min-width: 768px) {
                    max-width: 7vw;
                    max-height: 6vw;
                }
                @media (min-width: 1200px) {
                    max-width: 8.5625rem;
                    max-height: 6.3125rem;
                }
            }
        }
        .sub-title {
            margin-bottom: 1.5rem;
            @media (min-width: 768px) {
                padding-left: 5rem;
            }
        }
        .description {
            @media (min-width: 768px) {
                padding-left: 5rem;
                padding-right: 3rem;
            }
            h3 {
                font-size: 1.125rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
    /* termes */
    .termes {
        margin-bottom: 7rem;
        h2 {
            text-transform: uppercase;
            line-height: 0.8;
            overflow: hidden;
            span {
                display: block;
                &:nth-child(1) {
                    padding-left: 3rem;
                }
                &:nth-child(2) {
                    text-align: end;
                }
                &:nth-child(3) {}
            }
        }
    }
    /* equipe */
    .equipe {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 3rem;
        position: relative;
        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 2rem;
            margin-bottom: 10rem;
        }
        &:before {
            content: '';
            width: 3.2rem;
            height: 3.2rem;
            position: absolute;
            top: 0;
            right: 1.5rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='156.855' height='156.855' viewBox='0 0 156.855 156.855'%3E%3Cpath id='grin-stars' d='M78.428,8a78.428,78.428,0,1,0,78.428,78.428A78.414,78.414,0,0,0,78.428,8Zm0,141.676a63.248,63.248,0,1,1,63.248-63.248A63.312,63.312,0,0,1,78.428,149.676Zm33.4-47.879c-8.191,2.625-20.366,4.143-33.4,4.143s-25.173-1.518-33.4-4.143a4.344,4.344,0,0,0-5.6,4.838c2.5,14.927,22.548,25.3,38.993,25.3s36.463-10.4,38.993-25.3A4.355,4.355,0,0,0,111.823,101.8ZM39.751,83.613a2.372,2.372,0,0,0,3.479,2.5l9.9-5.155,9.9,5.155a2.372,2.372,0,0,0,3.479-2.5l-1.9-11.037,8.033-7.78a2.472,2.472,0,0,0-1.36-4.174L60.244,59.041l-4.9-9.993a2.444,2.444,0,0,0-4.4,0l-4.9,9.993L35.008,60.622a2.457,2.457,0,0,0-1.36,4.174l8.033,7.78Zm82.128-22.991-11.037-1.581-4.9-9.993a2.444,2.444,0,0,0-4.4,0l-4.9,9.993L85.606,60.622a2.457,2.457,0,0,0-1.36,4.174l8.033,7.78-1.9,11.037a2.372,2.372,0,0,0,3.479,2.5l9.9-5.155,9.9,5.155a2.372,2.372,0,0,0,3.479-2.5l-1.9-11.037,8.033-7.78A2.477,2.477,0,0,0,121.879,60.622Z' transform='translate(0 -8)' fill='%232d2f2b'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            @media (min-width: 768px) {
                width: 7.8rem;
                height: 7.8rem;
                top: 2rem;
                right: 4rem;
            }
        }
        &:after {
            @media (min-width: 768px) {
                content: '';
                position: absolute;
                top: 50%;
                left: -6rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='311.626' height='1762.18' viewBox='0 0 311.626 1762.18'%3E%3Cg id='Groupe_75' data-name='Groupe 75' transform='translate(12345.478 1972.797)'%3E%3Crect id='Rectangle_4' data-name='Rectangle 4' width='48.544' height='48.544' transform='translate(-12082.896 -1268.947) rotate(-90)' fill='none' stroke='%23d5d5d5' stroke-width='1'/%3E%3Cg id='Groupe_74' data-name='Groupe 74'%3E%3Cpath id='Tracé_8' data-name='Tracé 8' d='M156.964,223.189,26.226,0H0V301.026H30.532V61.5L148.788,262.753H163.85L282.107,60.208V301.026h30.532V0H286.412Z' transform='translate(-12342.397 -892.609) rotate(-90)' fill='none' stroke='%23d5d5d5' stroke-width='1'/%3E%3Cpath id='Tracé_9' data-name='Tracé 9' d='M158.673,277.806q-35.694,0-64.935-16.341a119.347,119.347,0,0,1-45.8-44.727Q31.376,188.366,31.39,153.1T47.94,89.454a119.252,119.252,0,0,1,45.8-44.727q29.248-16.334,64.935-16.341,53.76,0,89.023,35.687L267.9,43.851a128.417,128.417,0,0,0-48.148-32.669Q191.363,0,157.811,0,113.084,0,76.965,19.777a148.644,148.644,0,0,0-30.722,22.35l-3.491,3.5A143.975,143.975,0,0,0,20.43,74.6Q-.014,109.669,0,153.1a163.768,163.768,0,0,0,4.715,39.317A146.511,146.511,0,0,0,20.43,231.577a144.852,144.852,0,0,0,56.326,54.838,155.533,155.533,0,0,0,36.188,14.228,177.1,177.1,0,0,0,44.435,5.549q33.566,0,62.154-11.4a132.641,132.641,0,0,0,34.588-20.319l13.184-13.185-19.61-19.6Q212.858,277.8,158.673,277.806Z' transform='translate(-12344.978 -211.117) rotate(-90)' fill='none' stroke='%23d5d5d5' stroke-width='1'/%3E%3Cpath id='Tracé_10' data-name='Tracé 10' d='M0,0H131.609q48.149,0,85.574,18.72,37.405,18.692,58.051,52.891,20.653,34.172,20.639,78.912t-20.639,78.913q-20.632,34.192-58.051,52.891t-85.574,18.706H0ZM129.022,253.732q33.107,0,58.273-12.684T226,204.916q13.539-23.427,13.546-54.393T226,96.116Q212.461,72.689,187.3,60T129.022,47.314h-73.1V253.732Z' transform='translate(-12342.404 -1374.989) rotate(-90)' fill='none' stroke='%23d5d5d5' stroke-width='1'/%3E%3Cpath id='Tracé_11' data-name='Tracé 11' d='M256.75,253.732v47.3H0V263.621L177.184,47.314H3.018V0H251.159V37.412L73.961,253.732Z' transform='translate(-12342.404 -1715.547) rotate(-90)' fill='none' stroke='%23d5d5d5' stroke-width='1'/%3E%3Cpath id='Tracé_12' data-name='Tracé 12' d='M237.975,19.179C216.9,7.594,193.442,1.4,167.838,0L138.855,29a146,146,0,0,1,18.483-1.2q35.694,0,64.49,16.119A116.729,116.729,0,0,1,267,88.648q16.335,28.6,16.328,63.85,0,35.277-16.328,63.865a116.825,116.825,0,0,1-45.172,44.727q-28.789,16.126-64.49,16.119T92.6,261.089a117.866,117.866,0,0,1-45.576-44.727q-16.564-28.6-16.55-63.865a141.408,141.408,0,0,1,.96-16.077L0,167.839c2.017,22.864,8.359,43.92,19.513,62.932q20.4,34.839,56.757,54.838t81.068,19.986q44.706,0,80.637-19.777a146.529,146.529,0,0,0,56.549-54.824q20.632-35.069,20.625-78.5T294.524,74.017A146.663,146.663,0,0,0,237.975,19.179Z' transform='translate(-12344.686 -535.667) rotate(-90)' fill='none' stroke='%23d5d5d5' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 15.5rem;
                height: 88rem;
            }
        }
        h2 {
            -webkit-text-stroke-color: #2D2F2B;
            margin-bottom: 3rem;
        }
        .row>div:first-child .description {
            @media (min-width: 768px) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
        .item {
            padding: 0px 25% 25% 25%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='480' height='480' viewBox='0 0 480 480'%3E%3Cg id='Groupe_271' data-name='Groupe 271' transform='translate(-1277 -4318)'%3E%3Crect id='Rectangle_71' data-name='Rectangle 71' width='280' height='280' transform='translate(1377 4418)' fill='%232d2f2b'/%3E%3Crect id='Rectangle_72' data-name='Rectangle 72' width='100' height='100' transform='translate(1657 4418)' fill='%23efefef'/%3E%3Crect id='Rectangle_77' data-name='Rectangle 77' width='100' height='100' transform='translate(1277 4642)' fill='%23acacac'/%3E%3Crect id='Rectangle_73' data-name='Rectangle 73' width='100' height='100' transform='translate(1657 4598)' fill='%23d5d5d5'/%3E%3Crect id='Rectangle_74' data-name='Rectangle 74' width='100' height='100' transform='translate(1297 4318)' fill='%23efefef'/%3E%3Crect id='Rectangle_78' data-name='Rectangle 78' width='100' height='100' transform='translate(1277 4418)' fill='%23c7c7c7'/%3E%3Crect id='Rectangle_76' data-name='Rectangle 76' width='100' height='100' transform='translate(1557 4698)' fill='%23efefef'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            figure {
                width: 100%;
                aspect-ratio: 7/10;
                position: relative;
                .photo {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            .name {
                color: white;
                font-size: 0.8rem;
                line-height: 1.2;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }
            .function {
                color: white;
                font-size: 0.8rem;
                line-height: 1.2;
                text-transform: uppercase;
            }
            &:hover {
                text-decoration: none;
                .photo {
                    display: block;
                }
            }
        }
    }
    /* equipe-complementaire */
    .equipe-complementaire {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 5rem;
        @media (min-width: 768px) {
            padding-left: 2rem;
            padding-right: 5rem;
        }
        .left {
            @media (min-width: 992px) {
                width: 40%;
                padding-right: 3rem;
            }
        }
        .right {
            @media (min-width: 992px) {
                width: 60%;
            }
        }
        h2 {
            position: relative;
            display: inline-block;
            margin-bottom: 1rem;
            width: min-content;
            @media (min-width: 768px) {
                margin-bottom: 3rem;
                width: unset;
            }
            &:after {
                content: '+';
                font-size: 5rem;
                line-height: 1;
                font-weight: 700;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(80%, -30%);
                color: inherit;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: #2D2F2B;
                @media (min-width: 768px) {
                    font-size: 7.5rem;
                    transform: translate(80%, -60%);
                }
            }
        }
        .description {
            margin-bottom: 3rem;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        li {
            position: relative;
            padding-left: 3.2rem;
            margin-bottom: 1rem;
            &:before {
                content: '+';
                font-size: 2.4rem;
                font-weight: 700;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        .name {
            font-weight: 700;
            line-height: 1.625;
            /**/
            font-size: 0.8rem;
        }
        .function {
            text-transform: uppercase;
            /**/
            font-size: 0.8rem;
        }
        .photos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            @media (min-width: 768px) {
                grid-template-columns: 22.222222% 44.444444% 33.333333%;
                grid-template-rows: repeat(2, 1fr);
            }
        }
        figure {
            aspect-ratio: 1/1;
            margin-bottom: 0;
            width: 100%;
            height: auto;
            &:nth-child(1) {
                grid-area: 1 / 1;
                @media (min-width: 768px) {
                    grid-area: 1 / 1 / 3 / 2;
                    margin-top: 1rem;
                    margin-top: 50%;
                }
            }
            &:nth-child(2) {
                grid-area: 1 / 2;
                @media (min-width: 768px) {
                    grid-area: 1 / 2 / 3 / 3;
                    margin-top: 9.75rem;
                    margin-top: auto;
                }
            }
            &:nth-child(3) {
                grid-area: 2 / 1;
                @media (min-width: 768px) {
                    grid-area: 1 / 3 / 2 / 4;
                }
            }
            &:nth-child(4) {
                grid-area: 2 / 2;
                @media (min-width: 768px) {
                    grid-area: 2 / 3 / 3 / 4;
                    width: 66%;
                }
            }
            img {
                filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
                filter: gray;
                -webkit-filter: grayscale(100%);
                &:hover {
                    filter: none;
                    -webkit-filter: grayscale(0%);
                }
            }
        }
    }
    /* references */
    .references {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10rem;
        @media (min-width: 768px) {
            padding-left: 2rem;
            padding-right: 5rem;
        }
        .inner-container {
            position: relative;
        }
        .gray-4 {
            position: relative;
            width: 8rem;
            height: 6rem;
            background: #D5D5D5;
            float: right;
            z-index: -1;
            @media (min-width: 768px) {
                //     width: 24.75rem;
                //     height: 9.1875rem;
                width: 20rem;
                height: 7.5rem;
            }
        }
        .gray-4:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.5' height='50' viewBox='0 0 37.5 50'%3E%3Cpath id='bookmark' d='M32.813,0H4.688A4.687,4.687,0,0,0,0,4.688V50L18.75,39.063,37.5,50V4.688A4.687,4.687,0,0,0,32.813,0Zm0,41.839-14.062-8.2-14.063,8.2V5.273a.586.586,0,0,1,.586-.586H32.227a.586.586,0,0,1,.586.586Z' fill='%23e60c3e'/%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            //   width: 1.34375rem;
            //    height: 2.125rem;
            width: 1.34375rem;
            height: 2.125rem;
            transform: translate(-50%, -50%);
            @media (min-width: 768px) {
                //   width: 2.34375rem;
                //    height: 3.125rem;   
                width: 1.875rem;
                height: 2.5rem;
            }
        }
        h2 {
            position: absolute;
            left: 0.25rem;
            top: 2.75rem;
            z-index: -1;
            @media (min-width: 768px) {
                left: 3rem;
                //  top: 6rem;
                top: 1rem;
            }
        }
        .row {
            margin-bottom: 1.5rem;
        }
        /*article.reference {
            figure {
                img {
                    aspect-ratio: 3/2;
                }
            }
        }*/
        .call-to-action {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    .contact {
        //  margin-bottom: 10rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 2rem;
            margin-bottom: 8rem;
        }
        .left {
            margin-bottom: 3rem;
            @media (min-width: 1400px) {
                width: 70%;
                margin-bottom: 0;
            }
        }
        .right {
            @media (min-width: 1400px) {
                width: 27%;
            }
        }
        h2 {
            line-height: 0.9;
            text-transform: uppercase;
            position: relative;
            padding-left: 3rem;
            padding-right: 8rem;
            z-index: 1;
            @media (min-width: 768px) {
                font-size: 3rem;
                padding-left: 5rem;
                padding-right: 16rem;
            }
            span {
                display: block;
                &:nth-child(1) {}
                &:nth-child(2) {
                    @media (min-width: 768px) {
                        font-size: 5.7rem;
                    }
                }
                &:nth-child(3) {
                    color: #ACACAC;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 2rem;
                height: 2.4rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='84.437' height='106.527' viewBox='0 0 84.437 106.527'%3E%3Cg id='_5' data-name='5' transform='translate(-394.46 -1264.463)'%3E%3Cg id='Groupe_154' data-name='Groupe 154' transform='translate(421.048 1345.492)'%3E%3Cg id='Groupe_153' data-name='Groupe 153' transform='translate(0 0)'%3E%3Cpath id='Tracé_89' data-name='Tracé 89' d='M538.777,1683.447a10.974,10.974,0,0,1-10.348-7.381h-.39a4.474,4.474,0,0,1-4.469-4.469V1659.39a1.441,1.441,0,0,1,1.441-1.442h27.545A1.441,1.441,0,0,1,554,1659.39V1671.6a4.473,4.473,0,0,1-4.469,4.469h-.4A10.875,10.875,0,0,1,538.777,1683.447Zm-12.324-22.615V1671.6a1.588,1.588,0,0,0,1.586,1.586h1.467a1.442,1.442,0,0,1,1.39,1.06l.108.393a8.061,8.061,0,0,0,15.489.2l.19-.628a1.442,1.442,0,0,1,1.38-1.024h1.467a1.588,1.588,0,0,0,1.586-1.586v-10.766Z' transform='translate(-523.57 -1657.948)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_156' data-name='Groupe 156' transform='translate(407.897 1280.428)'%3E%3Cg id='Groupe_155' data-name='Groupe 155'%3E%3Cpath id='Tracé_90' data-name='Tracé 90' d='M474.272,1409.937a1.441,1.441,0,0,1-1.442-1.442c0-8.45-3.14-14.752-8.207-22.183a28.364,28.364,0,1,1,46.849.078c-5.034,7.33-8.154,13.584-8.154,22.1a1.441,1.441,0,0,1-1.441,1.441Zm13.813-65.064a25.484,25.484,0,0,0-21.079,39.816c5.091,7.466,8.349,13.9,8.68,22.366h24.779c.341-8.525,3.708-15.125,8.631-22.295a25.484,25.484,0,0,0-20.709-39.884Z' transform='translate(-459.711 -1341.99)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_158' data-name='Groupe 158' transform='translate(423.949 1313.318)'%3E%3Cg id='Groupe_157' data-name='Groupe 157'%3E%3Cpath id='Tracé_91' data-name='Tracé 91' d='M546.035,1536.551a1.441,1.441,0,0,1-1.441-1.425A71.415,71.415,0,0,0,538,1506.95a3.7,3.7,0,0,1,4.016-5.184,9.29,9.29,0,0,1,3.407,1.588,7.7,7.7,0,0,0,8.554,0,9.294,9.294,0,0,1,3.407-1.588,3.7,3.7,0,0,1,4.016,5.184,71.418,71.418,0,0,0-6.594,28.175,1.441,1.441,0,1,1-2.883-.033,74.365,74.365,0,0,1,6.859-29.35.789.789,0,0,0-.095-.834.8.8,0,0,0-.793-.3,7,7,0,0,0-2.321,1.149,10.57,10.57,0,0,1-11.751,0,7,7,0,0,0-2.321-1.149.8.8,0,0,0-.793.3.79.79,0,0,0-.094.834,74.367,74.367,0,0,1,6.859,29.35,1.442,1.442,0,0,1-1.425,1.458Z' transform='translate(-537.658 -1501.707)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_160' data-name='Groupe 160' transform='translate(396.131 1320.777)'%3E%3Cg id='Groupe_159' data-name='Groupe 159' transform='translate(0 0)'%3E%3Cpath id='Tracé_92' data-name='Tracé 92' d='M404.013,1543.017a1.442,1.442,0,0,1-.52-2.786l5.7-2.2a1.442,1.442,0,0,1,1.039,2.689l-5.7,2.2A1.446,1.446,0,0,1,404.013,1543.017Z' transform='translate(-402.571 -1537.929)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_162' data-name='Groupe 162' transform='translate(394.46 1296.272)'%3E%3Cg id='Groupe_161' data-name='Groupe 161' transform='translate(0 0)'%3E%3Cpath id='Tracé_93' data-name='Tracé 93' d='M401.819,1423.1a1.439,1.439,0,0,1-.308-.034l-5.916-1.287a1.442,1.442,0,0,1,.613-2.817l5.916,1.287a1.442,1.442,0,0,1-.3,2.85Z' transform='translate(-394.461 -1418.931)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_164' data-name='Groupe 164' transform='translate(407.81 1274.88)'%3E%3Cg id='Groupe_163' data-name='Groupe 163' transform='translate(0)'%3E%3Cpath id='Tracé_94' data-name='Tracé 94' d='M464.871,1322.022a1.436,1.436,0,0,1-1.012-.415l-4.144-4.087a1.442,1.442,0,1,1,2.025-2.053l4.144,4.088a1.441,1.441,0,0,1-1.012,2.468Z' transform='translate(-459.285 -1315.052)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_166' data-name='Groupe 166' transform='translate(435.237 1264.463)'%3E%3Cg id='Groupe_165' data-name='Groupe 165' transform='translate(0)'%3E%3Cpath id='Tracé_95' data-name='Tracé 95' d='M593.918,1273.307a1.442,1.442,0,0,1-1.441-1.442V1265.9a1.441,1.441,0,1,1,2.883,0v5.961A1.442,1.442,0,0,1,593.918,1273.307Z' transform='translate(-592.477 -1264.463)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_168' data-name='Groupe 168' transform='translate(468.435 1320.777)'%3E%3Cg id='Groupe_167' data-name='Groupe 167' transform='translate(0 0)'%3E%3Cpath id='Tracé_96' data-name='Tracé 96' d='M760.834,1543.017a1.44,1.44,0,0,1-.52-.1l-5.7-2.2a1.442,1.442,0,0,1,1.04-2.689l5.7,2.2a1.442,1.442,0,0,1-.52,2.786Z' transform='translate(-753.69 -1537.929)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_170' data-name='Groupe 170' transform='translate(470.098 1296.272)'%3E%3Cg id='Groupe_169' data-name='Groupe 169' transform='translate(0 0)'%3E%3Cpath id='Tracé_97' data-name='Tracé 97' d='M763.2,1423.1a1.442,1.442,0,0,1-.3-2.85l5.916-1.287a1.441,1.441,0,1,1,.613,2.817l-5.916,1.287A1.447,1.447,0,0,1,763.2,1423.1Z' transform='translate(-761.763 -1418.931)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_172' data-name='Groupe 172' transform='translate(458.521 1274.88)'%3E%3Cg id='Groupe_171' data-name='Groupe 171'%3E%3Cpath id='Tracé_98' data-name='Tracé 98' d='M706.986,1322.023a1.442,1.442,0,0,1-1.012-2.468l4.144-4.088a1.442,1.442,0,1,1,2.024,2.053L708,1321.607A1.437,1.437,0,0,1,706.986,1322.023Z' transform='translate(-705.545 -1315.052)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_174' data-name='Groupe 174' transform='translate(425.541 1360.726)'%3E%3Cg id='Groupe_173' data-name='Groupe 173'%3E%3Cpath id='Tracé_99' data-name='Tracé 99' d='M565.392,1734.811H546.834a1.442,1.442,0,0,1,0-2.883h18.557a1.442,1.442,0,0,1,0,2.883Z' transform='translate(-545.393 -1731.928)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3Cg id='Groupe_176' data-name='Groupe 176' transform='translate(421.607 1353.107)'%3E%3Cg id='Groupe_175' data-name='Groupe 175' transform='translate(0 0)'%3E%3Cpath id='Tracé_100' data-name='Tracé 100' d='M554.154,1697.811H527.727a1.441,1.441,0,1,1,0-2.883h26.427a1.441,1.441,0,1,1,0,2.883Z' transform='translate(-526.286 -1694.928)' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(0%, -50%);
                z-index: -1;
                @media (min-width: 768px) {
                    width: 4.2rem;
                    height: 5.3rem;
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 6.8rem;
                height: 5.6rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='276' height='235' viewBox='0 0 276 235'%3E%3Cg id='Groupe_288' data-name='Groupe 288' transform='translate(-1012 -7765)'%3E%3Cg id='Polygone_1' data-name='Polygone 1' transform='translate(1214 7765) rotate(90)' fill='none'%3E%3Cpath d='M117.5,0,235,202H0Z' stroke='none'/%3E%3Cpath d='M 117.5000076293945 1.988845825195312 L 1.738571166992188 201 L 233.2614440917969 201 L 117.5000076293945 1.988845825195312 M 117.5000076293945 0 L 235 202 L 1.52587890625e-05 202 L 117.5000076293945 0 Z' stroke='none' fill='%23acacac'/%3E%3C/g%3E%3Cg id='Polygone_2' data-name='Polygone 2' transform='translate(1245 7782) rotate(90)' fill='%232d2f2b'%3E%3Cpath d='M 200.1312866210938 172.5 L 0.8687117099761963 172.5 L 100.5 0.9953942894935608 L 200.1312866210938 172.5 Z' stroke='none'/%3E%3Cpath d='M 100.5 1.99078369140625 L 1.737411499023438 172 L 199.2625885009766 172 L 100.5 1.99078369140625 M 100.5 0 L 201 173 L 0 173 L 100.5 0 Z' stroke='none' fill='%23acacac'/%3E%3C/g%3E%3Cg id='Polygone_3' data-name='Polygone 3' transform='translate(1288 7820) rotate(90)' fill='none'%3E%3Cpath d='M62.5,0,125,109H0Z' stroke='none'/%3E%3Cpath d='M 62.5 2.010337829589844 L 1.726112365722656 108 L 123.2738876342773 108 L 62.5 2.010337829589844 M 62.5 0 L 125 109 L 0 109 L 62.5 0 Z' stroke='none' fill='%23acacac'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(0%, -50%);
                z-index: -1;
                @media (min-width: 768px) {
                    width: 13.8rem;
                    height: 11.75rem;
                }
            }
        }
    }
}