/* Contact Form 7 */

.wpcf7-not-valid-tip {
    font-size: .875rem;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    font-size: .875rem;
    border-color: var(--wayako-color1);
}