/* Contact */

.page-template-contact {
    .coordonnees {
        position: relative;
        @media (min-width: 576px) {
            margin-bottom: 2rem;
        }
        @media (min-width: 768px) {
            padding-top: 3rem;
            padding-right: 2rem;
        }
        .left {
            background-color: #2D2F2B;
            padding: 5rem 1.5rem 3rem 1.5rem;
            @media (min-width: 768px) {
                width: 50%;
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 3rem;
                padding-right: 3rem;
            }
            @media (min-width: 992px) {
                padding-left: 5rem;
                padding-right: 5rem;
            }
            .description {
                color: white;
                a:not(:hover) {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .right {
            @media (min-width: 768px) {
                width: 70%;
                margin-left: auto;
            }
            .map {
                background-color: #F7F7F7;
                @media (min-width: 576px) {
                    background-color: unset;
                }
            }
        }
    }
    .contact {
        //  padding-left: 1.5rem;
        //   padding-right: 1.5rem;
        margin-bottom: 5rem;
        @media (min-width: 576px) {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        @media (min-width: 768px) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        div[role="form"] {
            background-color: #F7F7F7;
            padding: 5rem 1.5rem 3rem 1.5rem;
            position: relative;
            @media (min-width: 768px) {
                padding: 5rem 2rem;
            }
            &:before {
                content: '';
                width: 7.2rem;
                height: 3.5rem;
                position: absolute;
                top: 2rem;
                right: 2rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='146.5' height='70.019' viewBox='0 0 146.5 70.019'%3E%3Cg id='Groupe_287' data-name='Groupe 287' transform='translate(-1686.5 -2020)'%3E%3Cline id='Ligne_32' data-name='Ligne 32' x2='31' transform='translate(1702.5 2035.5)' fill='none' stroke='%232d2f2b' stroke-linecap='round' stroke-width='4'/%3E%3Cline id='Ligne_33' data-name='Ligne 33' x2='53' transform='translate(1688.5 2049.5)' fill='none' stroke='%232d2f2b' stroke-linecap='round' stroke-width='4'/%3E%3Cline id='Ligne_34' data-name='Ligne 34' x2='18' transform='translate(1715.5 2062.5)' fill='none' stroke='%232d2f2b' stroke-linecap='round' stroke-width='4'/%3E%3Cpath id='heart' d='M71.625,37.028C62.594,29.435,48.64,30.575,40,39.372c-8.641-8.8-22.594-9.953-31.625-2.344C-3.375,46.919-1.656,63.044,6.719,71.591L34.125,99.513a8.207,8.207,0,0,0,11.75.016L73.281,71.606C81.64,63.06,83.39,46.935,71.625,37.028Zm-3.687,29.3L40.531,94.247a.642.642,0,0,1-1.062,0L12.062,66.325C6.359,60.513,5.2,49.513,13.2,42.778c6.078-5.109,15.453-4.344,21.328,1.641L40,50l5.469-5.578C51.375,38.4,60.75,37.669,66.8,42.763c7.984,6.734,6.8,17.8,1.141,23.562Z' transform='translate(1753 1988.022)' fill='%232d2f2b'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        form {
            max-width: 80rem;
            margin-left: auto;
            margin-right: auto;
        }
        .consentement {
            margin-bottom: 1rem;
            .wpcf7-list-item {
                margin-left: 0;
            }
        }
        .wpcf7-form-control-wrap.recaptcha {
            display: block;
            margin-bottom: 1rem;
        }
        .notice-rgpd {
            font-size: .875rem;
        }
    }
    .instagram {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 2rem;
            padding-right: calc(2rem - 10px);
        }
        .title {
            font-size: 1.375rem;
            font-weight: 700;
            transform-origin: center;
            transform: translate(0, 0) rotate( -90deg);
            margin-left: -3rem;
            margin-right: -3rem;
            white-space: nowrap;
            vertical-align: middle;
            width: max-content;
            height: auto;
            &:after {
                content: '';
                display: inline-block;
                width: 3.6875rem;
                height: 3.6875rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59.553' height='59.619' viewBox='0 0 59.553 59.619'%3E%3Cpath id='Tracé_132' data-name='Tracé 132' d='M6663.043,6190h-22.535A18.545,18.545,0,0,0,6622,6208.576v22.533a18.538,18.538,0,0,0,18.508,18.51h22.535a18.542,18.542,0,0,0,18.51-18.51v-22.533a18.548,18.548,0,0,0-18.51-18.576Zm6.771,14.084a2.279,2.279,0,1,0-4.559,0,2.279,2.279,0,0,0,4.559,0Zm-18.039,1.006a14.754,14.754,0,0,0,0,29.508,14.484,14.484,0,0,0,10.395-4.357,14.656,14.656,0,0,0,0-20.859A14.42,14.42,0,0,0,6651.775,6205.09Zm0,24.412a9.733,9.733,0,1,1,6.842-2.885A9.685,9.685,0,0,1,6651.775,6229.5Zm24.68,1.607a13.123,13.123,0,0,1-3.955,9.457,13.4,13.4,0,0,1-9.457,3.957h-22.535a13.677,13.677,0,0,1-9.523-3.957,13.339,13.339,0,0,1-3.891-9.457v-22.533a13.375,13.375,0,0,1,3.891-9.521,13.668,13.668,0,0,1,9.523-3.957h22.535a13.387,13.387,0,0,1,9.457,3.957,13.159,13.159,0,0,1,3.955,9.521Z' transform='translate(-6622 -6190)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                transform: rotate(90deg);
                vertical-align: middle;
                margin-left: 1rem;
            }
        }
    }
}