/* Blog and categories (archives) */

.blog,
.archive {
    .intro {
        background-color: #2D2F2B;
        padding-top: 5rem;
        padding-bottom: 3rem;
        .inner-content {
            max-width: 61.25rem;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            & * {
                color: white;
            }
            p.h1 {
                font-weight: 700;
                margin-bottom: 2rem;
                @media (min-width: 768px) {
                    font-size: 3rem;
                }
            }
        }
    }
    .post {
        padding-top: 4.8rem;
        padding-bottom: 1rem;
        position: relative;
        @media (min-width: 768px) {
            padding-top: 9.6rem;
            padding-bottom: 2rem;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 3.8rem;
            background-color: #707070;
            @media (min-width: 768px) {
                height: 7.5rem;
            }
        }
        .entry-meta {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            .number {
                color: #EFEFEF;
                font-family: 'Playfair Display';
                font-size: 5rem;
                line-height: 1.0;
                display: inline-flex;
                //   margin-top: -11rem;
                margin-bottom: -1rem;
                margin-left: auto;
                @media (min-width: 768px) {
                    font-size: 11.8rem;
                    margin-top: -11rem;
                    margin-left: unset;
                    margin-bottom: -1.5rem;
                }
            }
            .posted-on {
                display: inline-flex;
            }
        }
        .entry-title {
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
             :before {
                content: '';
                display: block;
                width: 5rem;
                height: .4rem;
                background-color: #2D2F2B;
                margin-bottom: 2rem;
            }
        }
        .entry-date {
            color: #707070;
            display: inline-block;
            margin-bottom: 0.75rem;
            &:after {
                content: '';
                display: inline-block;
                width: 1.3rem;
                height: 1.3rem;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='Groupe_234' data-name='Groupe 234' transform='translate(-869.707 -2298.707)'%3E%3Cg id='Ellipse_22' data-name='Ellipse 22' transform='translate(869.707 2298.707)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'%3E%3Ccircle cx='13' cy='13' r='13' stroke='none'/%3E%3Ccircle cx='13' cy='13' r='12' fill='none'/%3E%3C/g%3E%3Cline id='Ligne_36' data-name='Ligne 36' y1='7.552' transform='translate(882.707 2305.918)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Tracé_136' data-name='Tracé 136' d='M-7373.5-5886.5l3.633,3.634' transform='translate(8255.874 8198.869)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                vertical-align: middle;
                margin-left: 1rem;
            }
        }
        @media (min-width: 992px) {
            &:nth-child(odd) {
                .row>div:first-child {
                    order: 6;
                }
                .row>div:last-child {
                    order: -1;
                }
                .entry-header,
                .entry-content {
                    text-align: right;
                }
                .entry-title {
                     :before {
                        margin-left: auto;
                    }
                }
                .entry-meta {
                    flex-direction: row-reverse;
                    .posted-on {
                        display: inline-flex;
                        justify-content: flex-end;
                        min-width: 15rem;
                    }
                }
            }
        }
    }
}