/* Single expertise */

.page-template-single-expertise {
    .number {
        font-size: 5rem;
        line-height: 0.75;
        position: relative;
        padding-left: 4rem;
        margin-bottom: 3rem;
        margin-left: 3rem;
        @media (min-width: 768px) {
            margin-left: 0;
        }
        &:before {
            content: '';
            display: block;
            width: 5rem;
            height: .4rem;
            background-color: #2D2F2B;
            position: absolute;
            bottom: 0;
            left: calc( -5rem / 2);
        }
    }
    h2 {
        margin-bottom: 1.5rem;
        @media (min-width: 768px) {
            margin-bottom: 3rem;
        }
    }
    /* item 1 */
    .item-1 {
        margin-top: 5rem;
        margin-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 5rem;
            padding-right: 3rem;
        }
        .left {
            @media (min-width: 768px) {
                width: 50%;
            }
        }
        .right {
            @media (min-width: 768px) {
                width: 50%;
                padding-left: 3rem;
            }
            .description,
            img {
                margin-bottom: 3rem;
            }
        }
        .description-2 {
            font-size: 1.2rem;
            margin-bottom: 5rem;
        }
        .slogan {
            color: white;
            background-color: #707070;
            max-width: 80%;
            padding: 1rem;
            margin-left: auto;
            margin-bottom: -1rem;
            position: relative;
            @media (min-width: 768px) {
                padding: 3rem;
            }
        }
        .image-2 {
            aspect-ratio: 17/10;
            object-fit: cover;
        }
        .image-3 {
            width: 50%;
            aspect-ratio: 165/100;
            object-fit: cover;
        }
        .list-group {
            margin-top: 5rem;
        }
        .list-group-item {
            border-width: 1px;
            position: relative;
            padding: 2rem 2rem;
            @media (min-width: 768px) {
                padding: 3rem 4rem;
            }
            &:not(:last-child) {
                margin-bottom: 4rem;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 6.8rem;
                    height: 7rem;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='136' height='140' viewBox='0 0 136 140'%3E%3Cg id='Groupe_248' data-name='Groupe 248' transform='translate(-1013 -2393)'%3E%3Ccircle id='Ellipse_25' data-name='Ellipse 25' cx='68' cy='68' r='68' transform='translate(1013 2397)' fill='%23acacac'/%3E%3Ctext id='_' data-name='+' transform='translate(1082 2502)' fill='%23fff' font-size='113' font-family='Montserrat-Light, Montserrat' font-weight='300'%3E%3Ctspan x='-32.148' y='0'%3E+%3C/tspan%3E%3C/text%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 5.5rem);
                    z-index: 10;
                }
            }
            .description {
                margin-bottom: 0;
            }
        }
    }
    /* item 2 */
    .item-2 {
        margin-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 5rem;
            padding-right: 3rem;
        }
        .left {
            @media (min-width: 768px) {
                width: 50%;
                margin-top: 7rem;
            }
        }
        .right {
            @media (min-width: 768px) {
                width: 50%;
                padding-left: 3rem;
            }
        }
        .slogan {
            font-size: 1.6rem;
            line-height: 1.15;
            font-weight: 700;
            margin-bottom: 3rem;
            @media (min-width: 768px) {
                font-size: 2.5rem;
            }
        }
    }
    .item-3 {
        margin-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 5rem;
            padding-right: 3rem;
        }
        .left {
            @media (min-width: 768px) {
                width: 50%;
            }
        }
        .right {
            @media (min-width: 768px) {
                width: 50%;
                padding-left: 3rem;
            }
        }
        .list-group-item {
            border: none;
            margin-left: auto;
            margin-right: auto;
             :before {
                content: '';
                max-width: 30vw;
                max-height: 30vw;
                width: 12.75rem;
                height: 12.75rem;
                display: block;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='204' height='204' viewBox='0 0 204 204'%3E%3Ccircle id='Ellipse_26' data-name='Ellipse 26' cx='102' cy='102' r='102' fill='%232d2f2b'/%3E%3C/svg%3E%0A");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1rem;
                @media (min-width: 768px) {
                    max-width: 10vw;
                    max-height: 10vw;
                }
            }
        }
    }
    .item-4 {
        margin-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (min-width: 768px) {
            padding-left: 5rem;
            padding-right: 3rem;
        }
        .list-group-item {
            border-width: 1px;
            position: relative;
            padding: 1.5rem 1rem;
            flex: 1 1 0px;
            &:not(:last-child) {
                margin-bottom: 5.75rem;
                &:after {
                    content: '';
                    display: inline-block;
                    width: 3.75rem;
                    height: 3.125rem;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='50' viewBox='0 0 60 50'%3E%3Cg id='Polygone_3' data-name='Polygone 3' transform='translate(60 50) rotate(180)' fill='none'%3E%3Cpath d='M30,0,60,50H0Z' stroke='none'/%3E%3Cpath d='M 30.00000190734863 1.943649291992188 L 1.766193389892578 49 L 58.23381042480469 49 L 30.00000190734863 1.943649291992188 M 30.00000190734863 0 L 60 50 L 3.814697265625e-06 50 L 30.00000190734863 0 Z' stroke='none' fill='%23acacac'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 4rem);
                }
            }
            @media (min-width: 768px) {
                &:not(:last-child) {
                    margin-right: 5.75rem;
                    margin-bottom: 0;
                    &:after {
                        content: '';
                        display: inline-block;
                        width: 3.125rem;
                        height: 3.75rem;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='60' viewBox='0 0 50 60'%3E%3Cg id='Polygone_3' data-name='Polygone 3' transform='translate(50) rotate(90)' fill='none'%3E%3Cpath d='M30,0,60,50H0Z' stroke='none'/%3E%3Cpath d='M 30.00000190734863 1.943649291992188 L 1.766193389892578 49 L 58.23381042480469 49 L 30.00000190734863 1.943649291992188 M 30.00000190734863 0 L 60 50 L 3.814697265625e-06 50 L 30.00000190734863 0 Z' stroke='none' fill='%23acacac'/%3E%3C/g%3E%3C/svg%3E%0A");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 50%;
                        bottom: unset;
                        left: unset;
                        right: 0;
                        transform: translate(4.75rem, -50%);
                    }
                }
                h3 {
                    min-height: 5rem;
                }
            }
        }
    }
}