/**/

.main-navigation:not(.toggled) {
    display: block;
    width: 100%;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    display: block;
                    left: auto;
                }
            }
            a {
                width: 200px;
            }
             :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        position: relative;
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a,
    .current-menu-ancestor>a {}
}


/* Small menu. */

.nav-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 960px) {
    .nav-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 1.5em;
    }
    .nav-links {
        display: flex;
    }
    .nav-previous {
        flex: 1 0 50%;
    }
    .nav-next {
        text-align: end;
        flex: 1 0 50%;
    }
}


/* A restructurer */


/* Header */

.site-header__main-nav {
    z-index: 1080;
    flex-grow: 1;
    align-items: center;
    @media (max-width: 959.98px) {
        position: absolute;
        top: 5rem;
        left: 0;
        padding: 2rem;
        background: white;
        box-shadow: 0 0.625rem 1.25rem 0 #eae5ee;
        width: 100%;
    }
    @media (min-width: 960px) {
        // si expended menu
        display: flex!important;
        flex-basis: auto;
    }
    ul.main-menu {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        @media (min-width: 960px) {
            flex-direction: row;
            margin-left: auto;
        }
        /**/
        .menu-item {
            a {
                color: #0F0E0F;
                font-size: 1rem;
                text-decoration: none;
                padding-right: 0;
                padding-left: 0;
                display: block;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                @media (min-width: 960px) {
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
        }
        ul.sub-menu {
            position: absolute;
            z-index: 1000;
            display: none;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-clip: padding-box;
            background-color: #FFF;
            border: unset;
            border-radius: 1rem;
            @media (min-width: 960px) {
                box-shadow: 0 0 1.25rem 0 #eae5ee;
            }
            li:not(:last-child) {
                border-style: solid;
                border-color: rgba(234, 229, 238, .41);
                border-width: 0;
                @media (min-width: 960px) {
                    border-bottom-width: 1px;
                }
            }
            li {
                a {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                    padding: 0.5rem 1rem;
                    display: block;
                    @media (min-width: 960px) {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }
                    &:hover {
                        color: var(--wayako-color1);
                        background-color: white;
                    }
                }
            }
            li:first-child a {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
            li:last-child a {
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
        }
        .menu-item-has-children:hover ul {
            display: block;
        }
        /**/
        &>li {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            a {
                font-weight: 500;
                padding-top: 1rem;
                padding-bottom: 1rem;
                position: relative;
            }
            @media (min-width: 960px) {
                &>a:hover {
                    color: var(--wayako-color1);
                    &:after {
                        content: '';
                        display: block;
                        width: calc( 100% - 1rem);
                        height: 2px;
                        background-color: var(--wayako-color2);
                        position: absolute;
                        bottom: 0.5rem;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                &.current-menu-item {
                    &>a {
                        color: var(--wayako-color1);
                        &:after {
                            content: '';
                            display: block;
                            width: calc( 100% - 1rem);
                            height: 2px;
                            background-color: var(--wayako-color2);
                            position: absolute;
                            bottom: 0.5rem;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
        ul.dropdown-menu {
            background-color: #FFF;
            border: unset;
            border-radius: 1rem;
            @media (min-width: 960px) {
                box-shadow: 0 0 1.25rem 0 #eae5ee;
                position: absolute;
            }
            li:not(:last-child) {
                border-style: solid;
                border-color: rgba(234, 229, 238, .41);
                border-width: 0;
                @media (min-width: 960px) {
                    border-bottom-width: 1px;
                }
            }
            li {
                a {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                    padding: 0.5rem 1rem;
                    @media (min-width: 960px) {
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }
                    &:hover {
                        color: var(--wayako-color1);
                        background-color: white;
                    }
                }
            }
            li:first-child a {
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }
            li:last-child a {
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }
        }
    }
}


/* test */

.primary-menu-container {
    @media (max-width: 959.98px) {
        visibility: hidden;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all .3s ease-in-out;
        transform: translateY(5rem);
    }
    @media (min-width: 960px) {}
}

.main-menu {
    @media (max-width: 959.98px) {
        flex-direction: column;
    }
    .sub-menu {
        @media (max-width: 959.98px) {
            position: relative !important;
            display: block !important;
        }
    }
}

.main-navigation {
    margin-left: auto;
}


/**/

.main-navigation.toggled {
    .primary-menu-container {
        top: 5rem;
        background-color: white;
        position: absolute;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}