/* Gutenberg */


/* Images */

img {
    height: auto;
    max-width: 100%;
    box-sizing: border-box
}


/* Container */

.wp-block-group .wp-block-group__inner-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .wp-block-group .wp-block-group__inner-container {
        max-width: 540px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 720px) {
    .wp-block-group .wp-block-group__inner-container {
        max-width: 1320px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .wp-block-group .wp-block-group__inner-container {
        max-width: 960px;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .wp-block-group .wp-block-group__inner-container {
        max-width: 1140px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .wp-block-group .wp-block-group__inner-container {
        max-width: 1320px;
    }
}


/* Buttons */

.wp-block-button__link {
    font-weight: 700;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}


/* Color */

.has-yellow-background-color {
    background-color: #FFC334;
}

.has-yellow-color {
    color: #FFC334;
}

.has-grey-background-color {
    background-color: #e9e9e9;
}

.has-grey-color {
    color: #e9e9e9;
}

.has-white-background-color {
    background-color: #ffffff;
}

.has-white-color {
    color: #ffffff;
}

.has-dark-blue-background-color {
    background-color: #12294C;
}

.has-dark-blue-color {
    color: #12294C;
}


/* Images */

.wp-block-media-text__media img,
.wp-block-media-text__media video {
    height: auto;
    object-fit: scale-down;
}


/**/

.has-small-font-size {
    font-size: .8125em
}

.has-normal-font-size,
.has-regular-font-size {
    font-size: 1em
}

.has-medium-font-size {
    font-size: 1.25em
}

.has-large-font-size {
    font-size: 2.25em
}

.has-huge-font-size,
.has-larger-font-size {
    font-size: 3rem
}


/* Block media text */

.wp-block-media-text .wp-block-media-text__media {
    margin-right: 10rem;
}

@media (min-width: 1200px) {
    .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
        margin-left: 10rem;
        margin-right: 0
    }
}


/* Title style */


/*
.bg-heading-sep {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.bg-heading-sep:before,
.bg-heading-sep:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 48%;
    height: 2px;
    content: '\a0';
    background-color: #979F52;
}

.bg-heading-sep:before {
    margin-left: -50%;
    text-align: right;
}

.bg-heading-sep:after {
    margin-left: 2%;
}
*/


/**/


/*
.wp-block-cover.bg-background-contain img.wp-block-cover__image-background {
    object-fit: contain;
}*/