/* Global */
body {
  font-family: 'Lato';
  color: #1C1B1B;
  font-size: .875rem;
  line-height: 1.42;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h2 {
  color: #1C1B1B;
  font-family: 'Josefin Sans';
  line-height: 1.25;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  color: #1C1B1B;
  font-family: 'Josefin Sans';
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  color: #1C1B1B;
  font-family: 'Josefin Sans';
  letter-spacing: 0.2em;
}

.display-2 {
  color: #46544D;
  font-family: 'Marison Brieny';
  font-size: calc(1.625rem + 7vw);
  line-height: 1;
  font-weight: 400;
  letter-spacing: unset;
  text-transform: unset;
}

@media (min-width: 1400px) {
  .display-2 {
    font-size: 7.5rem;
  }
}

a {
  color: #85A193;
}

a:hover {
  color: #1C1B1B;
}

figure {
  margin-bottom: 0;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.is-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -1;
}

.wrapper .no-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20rem;
}

.wrapper .no-result p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* Header */
.desktop-navbar {
  position: relative;
  /* Left contact elements */
}

.desktop-navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.desktop-navbar .nav-link {
  color: #1D1D1B;
  font-size: .8125rem;
  font-family: 'Quasimoda';
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 0.3125rem 2.25rem;
}

.desktop-navbar .current_page_item .nav-link {
  color: #85A193;
}

.desktop-navbar .desktop-menu {
  border-bottom: solid rgba(127, 127, 127, 0.2) 1px;
}

.desktop-navbar .desktop-menu ul {
  position: relative;
}

.desktop-navbar .desktop-menu .current-menu-parent .nav-link {
  color: #85A193;
}

.desktop-navbar .desktop-sub-menu-container {
  min-height: 2.5rem;
}

.desktop-navbar .desktop-sub-menu-container .nav-link {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.desktop-navbar .desktop-sub-menu-container .nav-link:hover {
  color: #85A193;
}

.desktop-navbar .desktop-sub-menu-container .current-menu-item .nav-link {
  color: #85A193;
}

.desktop-navbar #magic-line {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  width: 0;
  height: 2px;
  background: #1D1D1B;
}

.desktop-navbar .header-left {
  position: absolute;
  top: 20%;
  right: 0;
  color: #1D1D1B;
  font-size: .8125rem;
  font-family: 'Quasimoda';
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding-right: 1.5rem;
  text-align: right;
}

/* Mobile navbar */
.mobile-navbar {
  background-color: white;
  z-index: 1060;
  position: relative;
}

.mobile-navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

/* Burger menu */
.navbar-toggler {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: transparent !important;
  padding: 0.5rem;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar-toggler .icon-bar {
  background-color: #1C1B1B;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 1px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 7px;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.mobile-menu-is-open .navbar-toggler .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 7px);
          transform: rotate(45deg) translate(5px, 7px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.mobile-menu-is-open .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.mobile-menu-is-open .navbar-toggler .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -7px);
          transform: rotate(-45deg) translate(4px, -7px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

/* Mobile menu modal */
.mobile-menu-modal {
  top: 4.375rem;
  z-index: 1070;
}

.mobile-menu-modal .modal-content {
  border-radius: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.67);
  padding: 2rem;
}

.mobile-menu-modal .modal-content .modal-body {
  padding-left: 0;
  padding-right: 0;
}

.mobile-menu-modal .modal-content .modal-body .mobile-menu {
  margin-bottom: 1rem;
}

.mobile-menu-modal .modal-content .modal-body .nav-link {
  color: #1D1D1B;
  font-size: .8125rem;
  font-family: 'Quasimoda';
  font-weight: 500;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

.mobile-menu-modal .modal-content .modal-body .nav-link:hover {
  color: #85A193;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
}

.modal-backdrop.show {
  margin-top: 4.375rem;
}

/* Right modal animation */
.modal.right .modal-dialog {
  position: fixed;
  position: absolute;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* Hero */
.hero {
  position: relative;
  aspect-ratio: 1920/840;
  width: 100%;
  height: 56vw;
  max-height: 52.5rem;
  margin-bottom: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.hero h1 {
  color: white;
  font-family: 'Crimson Text';
  font-size: calc(1.625rem + 2vw);
  line-height: 1.35;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  max-width: 57rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 1400px) {
  .hero h1 {
    font-size: 3.375rem;
  }
}
/*# sourceMappingURL=critical-style.css.map */