@charset "UTF-8";
/* Global */
*:focus {
  outline: none;
}

/*
a:focus {
    outline: 1px solid red;
    outline-offset: 4px;
}
button::-moz-focus-inner {
    border: 0;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 5px orange;
}*/
body {
  font-family: 'Montserrat';
  color: #2D2F2B;
  font-size: 1rem;
  line-height: 1.7;
}

a {
  color: #2D2F2B;
}

a:hover {
  color: #B1AF00;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

/**/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.6rem;
  }
}

@media (min-width: 768px) {
  h2,
  .h2 {
    font-size: 1.8rem;
  }
}

.display-1 {
  font-size: calc(1.625rem + 8vw);
  font-weight: 700;
  line-height: 1;
}

@media (min-width: 1400px) {
  .display-1 {
    font-size: calc(1.625rem + 9vw);
  }
}

/**/
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.is-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -1;
}

/* Colors */
.bg-gray {
  background-color: #F7F7F7;
}

.bg-green {
  background-color: #B1AF00;
}

.color-gray {
  color: #F7F7F7;
}

.color-green {
  color: #B1AF00;
}

/* Nav */
.nav-link {
  color: #2D2F2B;
}

.nav-link:focus, .nav-link:hover {
  color: #B1AF00;
}

/* Btn */
.btn {
  font-size: 1rem;
  border-radius: 0;
  padding: 0.8rem .75rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .btn {
    min-width: 19rem;
  }
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
}

.btn-dark {
  color: white;
  background-color: #2D2F2B;
  border-color: #2D2F2B;
}

.btn-dark:hover {
  color: white;
  background-color: #B1AF00;
  border-color: #B1AF00;
}

.btn-dark:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
}

.btn-outline {
  border-color: #2D2F2B;
  border-width: 1px 0 1px 1px;
  position: relative;
  padding: 1rem 2rem;
}

.btn-outline:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1rem;
  height: 1.4375rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.687' height='16.652' viewBox='0 0 23.687 16.652'%3E%3Cg id='Groupe_57' data-name='Groupe 57' transform='translate(-1102.065 1245.342) rotate(-90)'%3E%3Cpath id='Tracé_46' data-name='Tracé 46' d='M-19582.973-7110.935v22.71' transform='translate(20820 8213)' fill='none' stroke='%232d2f2b' stroke-width='1'/%3E%3Cpath id='Tracé_47' data-name='Tracé 47' d='M-19574.254-7078.906l-7.971,7.973-7.975-7.973' transform='translate(20819.242 8195.979)' fill='none' stroke='%232d2f2b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-outline:hover {
  color: white;
  background-color: #B1AF00;
  border-color: #B1AF00;
}

.btn-outline:hover:after {
  content: none;
}

.btn-link {
  min-width: unset;
}

/**/
.form-control:focus,
.form-check-input:focus {
  border-color: #B1AF00;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
}

.form-check-input:checked {
  background-color: #B1AF00;
  border-color: #B1AF00;
}

/**/
.list-group-item {
  border-radius: unset !important;
}

/* Social (global) */
.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-linkedin {
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.5rem;
  vertical-align: middle;
}

.icon-facebook {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.251' height='18' viewBox='0 0 9.251 18'%3E%3Cpath id='Tracé_37' data-name='Tracé 37' d='M6830.75,8985.491v2.989H6828v3.11h2.75V9000h3.471v-8.408h2.508s.222-1.546.342-3.131h-2.83v-2.828a.859.859,0,0,1,.8-.723h2.208V8982h-2.69C6830.668,8982,6830.75,8985.028,6830.75,8985.491Z' transform='translate(-6828 -8981.999)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-twitter {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.148' height='18' viewBox='0 0 22.148 18'%3E%3Cpath id='Tracé_36' data-name='Tracé 36' d='M537,6289a12.98,12.98,0,0,0,19.907-10.967v-.525a10.068,10.068,0,0,0,2.241-2.336,9.968,9.968,0,0,1-2.575.668h0a4.731,4.731,0,0,0,1.979-2.527,14.526,14.526,0,0,1-2.193.93c-.215.071-.453.143-.667.215a4.517,4.517,0,0,0-3.338-1.454,4.568,4.568,0,0,0-4.554,4.553,4.814,4.814,0,0,0,.119,1.025,13.625,13.625,0,0,1-9.346-4.72s-2.17,2.979,1.311,6.031a4.72,4.72,0,0,1-1.979-.6,4.341,4.341,0,0,0,3.6,4.529,4.133,4.133,0,0,1-2,.071,4.507,4.507,0,0,0,4.172,3.2A8.753,8.753,0,0,1,537,6289Z' transform='translate(-537 -6273)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-instagram {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.978' height='20' viewBox='0 0 19.978 20'%3E%3Cpath id='Tracé_38' data-name='Tracé 38' d='M6635.768,6190h-7.56a6.222,6.222,0,0,0-6.208,6.232v7.559a6.219,6.219,0,0,0,6.208,6.209h7.56a6.22,6.22,0,0,0,6.209-6.209v-7.559a6.222,6.222,0,0,0-6.209-6.232Zm2.272,4.725a.765.765,0,1,0-1.529,0,.765.765,0,1,0,1.529,0Zm-6.051.338a4.949,4.949,0,0,0,0,9.9,4.856,4.856,0,0,0,3.486-1.462,4.915,4.915,0,0,0,0-7A4.837,4.837,0,0,0,6631.989,6195.062Zm0,8.189a3.246,3.246,0,1,1,3.24-3.24,3.219,3.219,0,0,1-.945,2.272A3.252,3.252,0,0,1,6631.989,6203.251Zm8.279.54a4.4,4.4,0,0,1-1.327,3.172,4.491,4.491,0,0,1-3.172,1.327h-7.56a4.585,4.585,0,0,1-3.194-1.327,4.473,4.473,0,0,1-1.305-3.172v-7.559a4.486,4.486,0,0,1,1.305-3.194,4.584,4.584,0,0,1,3.194-1.328h7.56a4.489,4.489,0,0,1,3.172,1.328,4.413,4.413,0,0,1,1.327,3.194Z' transform='translate(-6622 -6190)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-linkedin {
  background-image: url("data:image/svg+xml,%3Csvg id='Groupe_8' data-name='Groupe 8' xmlns='http://www.w3.org/2000/svg' width='20.054' height='20' viewBox='0 0 20.054 20'%3E%3Cpath id='Tracé_23' data-name='Tracé 23' d='M3677.537,3390a2.543,2.543,0,0,1,2.537,2.537,2.537,2.537,0,1,1-2.537-2.537Z' transform='translate(-3675 -3390)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3Cpath id='Tracé_24' data-name='Tracé 24' d='M3690.677,3649.052h-2.964a.7.7,0,0,1-.712-.684v-12.655a.705.705,0,0,1,.712-.712h2.964a.7.7,0,0,1,.684.712v12.655A.694.694,0,0,1,3690.677,3649.052Z' transform='translate(-3686.658 -3629.053)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3Cpath id='Tracé_25' data-name='Tracé 25' d='M3950.625,3627.789a4.787,4.787,0,0,0-4.817-4.789h-.741a4.241,4.241,0,0,0-3.506,1.824,1.6,1.6,0,0,0-.228.371h-.057v-1.568a.286.286,0,0,0-.285-.285h-3.705a.307.307,0,0,0-.285.285v13.482a.307.307,0,0,0,.285.285h3.791a.286.286,0,0,0,.285-.285v-7.782a2.459,2.459,0,0,1,4.19-1.767,2.531,2.531,0,0,1,.712,1.738v7.81a.286.286,0,0,0,.285.285h3.791a.286.286,0,0,0,.285-.285v-9.321Z' transform='translate(-3930.571 -3617.394)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

/* Header */
/* primary menu (global) */
.mobile-menu,
.desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu .nav-link,
.desktop-menu .nav-link {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
}

.mobile-menu .current-menu-item .nav-link,
.desktop-menu .current-menu-item .nav-link {
  color: #707070;
}

.desktop-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 18.4rem;
  height: 28vh;
}

/* Phone (global) */
.phone {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #B1AF00;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translate(0, 6.25rem) rotate(-90deg);
          transform: translate(0, 6.25rem) rotate(-90deg);
  z-index: 100;
}

.phone a {
  color: white;
  font-family: 'Montserrat';
  font-size: .875rem;
  line-height: 1.5;
  font-weight: 700;
  text-decoration: none;
  padding: 0.625rem 1.75rem;
}

.phone a:hover {
  color: white;
  text-decoration: underline;
}

/* Customers (global) */
.customers {
  font-size: .75rem;
  line-height: 1.4;
  font-style: italic;
  border: dashed #707070 1px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 1.5rem 1.125rem;
  display: block;
  cursor: pointer;
}

.customers:hover {
  color: #B1AF00;
  background-color: #eeeeee;
}

.customers .eye-icon {
  content: '';
  display: block;
  width: 3.1rem;
  height: 3.1rem;
  background-image: url("/wp-content/themes/wayako/assets/img/eye-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

/* Social (global) */
.social-nav .social-link {
  text-decoration: none;
}

/* ************** Mobile (first) navbar ************** */
#wrapper-navbar {
  position: relative;
  z-index: 1080;
}

/* Mobile navbar */
.mobile-navbar {
  /* Brand logo */
}

.mobile-navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

.mobile-navbar .navbar-brand img {
  max-width: 10rem;
}

/* Burger menu */
.navbar-toggler {
  border: none;
  background: transparent !important;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar-toggler .icon-bar {
  background-color: #212529;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 32px;
  height: 1px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar.middle-bar {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 7px;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.mobile-menu-is-open .navbar-toggler .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 7px);
          transform: rotate(45deg) translate(5px, 7px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.mobile-menu-is-open .navbar-toggler .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.mobile-menu-is-open .navbar-toggler .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -7px);
          transform: rotate(-45deg) translate(4px, -7px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

/* ************** Desktop navbar ( show only bigger than 768px ) ************** */
@media (min-width: 768px) {
  #page {
    padding-left: 7.5rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu-is-open #page {
    padding-left: 18rem;
  }
  #wrapper-navbar {
    position: fixed;
    top: 0;
    left: -10.5rem;
    z-index: 1000;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 0;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    width: 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wrapper-navbar.sidebar-expanded {
    left: 0;
  }
  .desktop-navbar {
    padding: 2rem 0;
    min-height: 100vh;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    width: 7.45rem;
    /* Brand logo */
    /* Menu title */
    /* Main menu */
    /* Phone */
    /* Customers */
  }
  .desktop-navbar .navbar-brand {
    width: 3.946875rem;
    height: 15rem;
    padding: 0;
    margin: 0;
  }
  .desktop-navbar .navbar-brand img {
    min-width: 11.7rem;
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transform: translate(-11.125rem, 0) rotate(-90deg);
            transform: translate(-11.125rem, 0) rotate(-90deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .desktop-navbar .menu-title {
    position: absolute;
    top: calc( 37vh + 8rem);
    color: #707070;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, 0) rotate(-90deg);
            transform: translate(0, 0) rotate(-90deg);
    -webkit-transition: opacity 0.6s ease-in;
    transition: opacity 0.6s ease-in;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    height: auto;
    padding: 1rem;
  }
  .desktop-navbar .menu-title .menu-icon {
    content: '';
    display: inline-block;
    width: 0.875rem;
    height: 2.5rem;
    vertical-align: middle;
    margin-left: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='31.945' viewBox='0 0 14 31.945'%3E%3Cg id='Groupe_262' data-name='Groupe 262' transform='translate(1 31.945) rotate(-90)'%3E%3Cpath id='Tracé_46' data-name='Tracé 46' d='M0,0V31.945' transform='rotate(-90)' fill='none' stroke='%23707070' stroke-width='2'/%3E%3Cpath id='Tracé_139' data-name='Tracé 139' d='M0,0V15.947' transform='translate(8 6) rotate(-90)' fill='none' stroke='%23707070' stroke-width='2'/%3E%3Cpath id='Tracé_140' data-name='Tracé 140' d='M0,0V31.945' transform='translate(0 12) rotate(-90)' fill='none' stroke='%23707070' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: translate(0, 0) rotate(90deg);
            transform: translate(0, 0) rotate(90deg);
  }
  .desktop-navbar .menu-title:hover {
    color: #B1AF00;
  }
  .desktop-navbar .menu-title:hover .menu-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='31.945' viewBox='0 0 14 31.945'%3E%3Cg id='Groupe_262' data-name='Groupe 262' transform='translate(1 31.945) rotate(-90)'%3E%3Cpath id='Tracé_46' data-name='Tracé 46' d='M0,0V31.945' transform='rotate(-90)' fill='none' stroke='%23B1AF00' stroke-width='2'/%3E%3Cpath id='Tracé_139' data-name='Tracé 139' d='M0,0V15.947' transform='translate(8 6) rotate(-90)' fill='none' stroke='%23B1AF00' stroke-width='2'/%3E%3Cpath id='Tracé_140' data-name='Tracé 140' d='M0,0V31.945' transform='translate(0 12) rotate(-90)' fill='none' stroke='%23B1AF00' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  }
  .desktop-navbar #mainMenu {
    position: relative;
    width: 100%;
    -webkit-transition: all 0s;
    transition: all 0s;
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
  .desktop-navbar .phone {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .desktop-navbar .customers {
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  /* Social */
  .social-nav .social-link {
    text-decoration: none;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .social-nav .social-link:hover {
    text-decoration: none;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  /* sidebar expanded ( desktop sidebar is open ) */
  .sidebar-expanded .desktop-navbar {
    width: 18rem;
  }
  .sidebar-expanded .navbar-brand {
    width: 11.7rem;
    height: 3.15rem;
    padding: 0;
    margin: 0;
  }
  .sidebar-expanded .navbar-brand img {
    min-width: unset;
    -webkit-transform-origin: unset;
            transform-origin: unset;
    -webkit-transform: unset;
            transform: unset;
  }
  .sidebar-expanded #mainMenu {
    visibility: visible;
    opacity: 1;
    height: auto;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
  .sidebar-expanded .menu-title {
    visibility: hidden;
    opacity: 0;
    height: 0;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
  }
  .sidebar-expanded .phone {
    opacity: 1;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
  .sidebar-expanded .customers {
    visibility: visible;
    opacity: 1;
    height: auto;
    -webkit-transition: opacity 0.6s ease-in;
    transition: opacity 0.6s ease-in;
  }
}

/* Hero */
/* Default template (no hero) */
.page-template-default article .entry-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Hero homepage */
.hero-homepage {
  position: relative;
  height: 100vh;
  max-height: 56vw;
}

/* Hero page & Hero blog */
.hero-page,
.hero-blog {
  position: relative;
  height: 56vw;
}

@media (min-width: 768px) {
  .hero-page,
  .hero-blog {
    height: 56vw;
  }
}

.hero-page__content,
.hero-blog__content {
  position: absolute;
  bottom: -3rem;
  background-color: #F7F7F7;
  padding: 1.5rem;
  min-width: 30vw;
  z-index: 10;
  left: 0;
}

@media (min-width: 768px) {
  .hero-page__content,
  .hero-blog__content {
    left: 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.hero-page__title,
.hero-blog__title {
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .hero-page__title,
  .hero-blog__title {
    font-size: calc(1.375rem + 1.5vw);
  }
}

@media (min-width: 992px) {
  .hero-page__title,
  .hero-blog__title {
    font-size: 3rem;
  }
}

.hero-page__image,
.hero-blog__image {
  margin-right: 1.5rem;
  max-width: 2rem;
}

@media (min-width: 992px) {
  .hero-page__image,
  .hero-blog__image {
    max-width: 4rem;
  }
}

/* Hero single */
.hero-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
}

@media (min-width: 768px) {
  .hero-single {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .hero-single {
    height: 100vh;
    max-height: 56rem;
  }
}

.hero-single:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EFEFEF;
  z-index: -1;
}

@media (min-width: 992px) {
  .hero-single:after {
    bottom: 15rem;
  }
}

.hero-single__content {
  text-align: center;
  max-width: 980px;
  margin-top: auto;
}

.hero-single__title {
  line-height: 1.2;
  font-weight: 700;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero-single__title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

.hero-single__image {
  width: 980px;
}

.hero-single .entry-meta {
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero-single .entry-meta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3rem;
  }
}

.hero-single .entry-meta .posted-on {
  display: inline-block;
  margin-bottom: 0.5rem;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .hero-single .entry-meta .posted-on {
    margin-right: 2rem;
  }
}

.hero-single .entry-meta .posted-on:after {
  content: '';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='Groupe_234' data-name='Groupe 234' transform='translate(-869.707 -2298.707)'%3E%3Cg id='Ellipse_22' data-name='Ellipse 22' transform='translate(869.707 2298.707)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'%3E%3Ccircle cx='13' cy='13' r='13' stroke='none'/%3E%3Ccircle cx='13' cy='13' r='12' fill='none'/%3E%3C/g%3E%3Cline id='Ligne_36' data-name='Ligne 36' y1='7.552' transform='translate(882.707 2305.918)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Tracé_136' data-name='Tracé 136' d='M-7373.5-5886.5l3.633,3.634' transform='translate(8255.874 8198.869)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 1rem;
}

.hero-single .entry-meta .posted-on time {
  vertical-align: middle;
}

.hero-single .entry-meta .comments-count {
  display: inline-block;
  margin-bottom: 0.5rem;
  vertical-align: middle;
}

.hero-single .entry-meta .comments-count:after {
  content: '';
  display: inline-block;
  width: 1.4rem;
  height: 1.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28.755' height='22.363' viewBox='0 0 28.755 22.363'%3E%3Cpath id='comments' d='M26.549,49.68a6.873,6.873,0,0,0,2.2-4.9c0-3.993-3.819-7.293-8.8-7.882-1.572-2.875-5.266-4.9-9.574-4.9C4.641,32-.006,35.574-.006,39.987a6.891,6.891,0,0,0,2.2,4.9,13.07,13.07,0,0,1-1.882,2.74,1.155,1.155,0,0,0,.839,1.947A11.474,11.474,0,0,0,7.4,47.639a14.226,14.226,0,0,0,1.418.245c1.567,2.865,5.246,4.882,9.549,4.882a13.213,13.213,0,0,0,2.985-.339,11.5,11.5,0,0,0,6.25,1.937,1.155,1.155,0,0,0,.839-1.947A12.721,12.721,0,0,1,26.549,49.68ZM6.942,45.073l-.854.554A10.157,10.157,0,0,1,3.937,46.7c.135-.235.27-.484.4-.739L5.11,44.4,3.872,43.181A4.577,4.577,0,0,1,2.39,39.987c0-3.03,3.659-5.591,7.987-5.591s7.987,2.561,7.987,5.591-3.659,5.591-7.987,5.591A10.877,10.877,0,0,1,7.93,45.3l-.988-.225Zm17.925,2.9-1.233,1.218.774,1.552c.13.255.265.5.4.739a10.157,10.157,0,0,1-2.151-1.068L21.8,49.86l-.993.23a10.877,10.877,0,0,1-2.446.28,9.288,9.288,0,0,1-6.554-2.481c5.057-.539,8.95-3.864,8.95-7.9,0-.17-.02-.334-.035-.5,3.215.724,5.626,2.835,5.626,5.291A4.577,4.577,0,0,1,24.867,47.973Z' transform='translate(0.007 -32)' fill='%23707070'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-left: 1rem;
}

/* Hero expertise */
.hero-expertise {
  height: calc(100vh - 4.6875rem);
  position: relative;
}

@media (min-width: 768px) {
  .hero-expertise {
    height: 100vh;
    max-height: 56vw;
  }
}

.hero-expertise:before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(45, 47, 43, 0.3);
  z-index: 1;
}

.hero-expertise__content {
  max-width: 55rem;
  z-index: 1;
  padding: 0 1.5rem 3rem;
}

.hero-expertise__number {
  color: #EFEFEF;
  font-family: 'Playfair Display';
  font-size: 10rem;
  line-height: 1.0;
  display: inline-block;
}

@media (min-width: 768px) {
  .hero-expertise__number {
    font-size: 11.8rem;
  }
}

.hero-expertise__number:before {
  content: '';
  width: 2.5rem;
  height: .2rem;
  background-color: white;
  display: inline-block;
  vertical-align: baseline;
}

@media (min-width: 768px) {
  .hero-expertise__number:before {
    width: 5rem;
    height: .4rem;
  }
}

.hero-expertise__picto {
  display: inline-block;
  vertical-align: baseline;
  max-width: 7rem;
}

@media (min-width: 768px) {
  .hero-expertise__picto {
    max-width: 8rem;
  }
}

.hero-expertise__title {
  color: white;
  line-height: 1.27;
  font-weight: 700;
}

@media (min-width: 768px) {
  .hero-expertise__title {
    font-size: 4rem;
  }
}

.hero-expertise__sub-heading {
  color: white;
  line-height: 1.15;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .hero-expertise__sub-heading {
    font-size: 2.6rem;
  }
}

.hero-expertise__description {
  color: white;
}

/* Hero reference */
.hero-reference {
  height: calc(100vh - 4.6875rem);
  height: 56vw;
  position: relative;
}

@media (min-width: 768px) {
  .hero-reference {
    height: 100vh;
    max-height: 56vw;
  }
}

.hero-reference__content {
  width: 40%;
  background-color: #2D2F2B;
  position: relative;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (min-width: 768px) {
  .hero-reference__content {
    width: 30%;
  }
}

.hero-reference__title {
  position: absolute;
  top: 37%;
  left: 1rem;
  color: white;
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 700;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translate(-50%, 0) rotate(-90deg);
          transform: translate(-50%, 0) rotate(-90deg);
}

@media (min-width: 768px) {
  .hero-reference__title {
    font-size: 4.3rem;
    top: 50%;
  }
}

.hero-reference__sub-heading {
  color: white;
  padding-top: 2rem;
  position: relative;
  text-transform: uppercase;
  margin-top: 25vh;
  font-size: 0.8rem;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .hero-reference__sub-heading {
    font-size: 1.1rem;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    max-width: calc(100% - 12rem);
    margin-left: auto;
  }
}

.hero-reference__sub-heading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 5rem);
  height: 1px;
  background-color: white;
}

.hero-reference__image {
  width: 70%;
}

.hero-reference__return {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4rem;
  height: 4rem;
  background-color: #EFEFEF;
}

@media (min-width: 768px) {
  .hero-reference__return {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.hero-reference__return:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25rem;
  height: 0.75rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='23' viewBox='0 0 40 23'%3E%3Cg id='Groupe_210' data-name='Groupe 210' transform='translate(-0.054 0.233)'%3E%3Cg id='Polygone_4' data-name='Polygone 4' transform='translate(0.054 22.767) rotate(-90)' fill='none'%3E%3Cpath d='M11.5,0,23,20H0Z' stroke='none'/%3E%3Cpath d='M 11.5 2.006139755249023 L 1.728530883789062 19 L 21.27146911621094 19 L 11.5 2.006139755249023 M 11.5 0 L 23 20 L 0 20 L 11.5 0 Z' stroke='none' fill='%232d2f2b'/%3E%3C/g%3E%3Cg id='Polygone_5' data-name='Polygone 5' transform='translate(20.054 22.767) rotate(-90)' fill='none'%3E%3Cpath d='M11.5,0,23,20H0Z' stroke='none'/%3E%3Cpath d='M 11.5 2.006139755249023 L 1.728530883789062 19 L 21.27146911621094 19 L 11.5 2.006139755249023 M 11.5 0 L 23 20 L 0 20 L 11.5 0 Z' stroke='none' fill='%232d2f2b'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .hero-reference__return:after {
    width: 2rem;
    height: 1.15rem;
  }
}

/* Hero mouse scroll */
.hero-mouse-scroll {
  background-color: white;
  border-radius: 2.25rem;
  padding: 0.9rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 1;
}

.hero-mouse-scroll__inner {
  width: 2.45rem;
  height: 4.2rem;
  border: solid #2D2F2B 2px;
  border-radius: 1.625rem;
  position: relative;
}

.hero-mouse-scroll__inner:after {
  content: '';
  display: block;
  width: .75rem;
  height: 1.375rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.828' height='24.414' viewBox='0 0 14.828 24.414'%3E%3Cg id='Groupe_220' data-name='Groupe 220' transform='translate(-962.086 -1137.5)'%3E%3Cline id='Ligne_23' data-name='Ligne 23' y2='19' transform='translate(969.5 1138.5)' fill='none' stroke='%232d2f2b' stroke-linecap='round' stroke-width='2'/%3E%3Cg id='Groupe_219' data-name='Groupe 219' transform='translate(0 -27)'%3E%3Cline id='Ligne_24' data-name='Ligne 24' x1='6' y2='6' transform='translate(969.5 1181.5)' fill='none' stroke='%232d2f2b' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='Ligne_25' data-name='Ligne 25' x2='6' y2='6' transform='translate(963.5 1181.5)' fill='none' stroke='%232d2f2b' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  /**/
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
          animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*# sourceMappingURL=critical-style.css.map */