/* Settings */
/* Global */
:root {
  --wayako-color1: #ff7d2d;
  --wayako-color2: #DD38B4;
  --wayako-color3: #ef823e;
  --wayako-gray1: #DADCDE;
  --wayako-gray2: #39353D;
}

body {
  color: var(--wayako-gray2);
  font-family: "Montserrat", Sans-serif;
  font-size: 1.125rem;
}

a {
  color: var(--wayako-color1);
}

/**/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1A191C;
  font-weight: 600;
}

h1 {
  font-size: 4.375rem;
  line-height: 5rem;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

h5,
.h5 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

/*
h3.h4 {
    color: var(--wayako-color1);
}*/
/**/
.nav-link {
  /*  display: block;
    padding: 0.5rem 1rem;*/
  color: #0F0E0F;
  font-size: 1rem;
  /*   text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;*/
}

.nav-link:hover {
  color: var(--wayako-color1);
}

.nav-link:focus {
  color: var(--wayako-color1);
}

.nav-link:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

/**/
/*
.clip-type1 img {
    clip-path: path('M227,0H602a16,16,0,0,1,16,16V227A227,227,0,0,1,391,454H227A227,227,0,0,1,0,227v0A227,227,0,0,1,227,0Z');
}

.dots1 {
    background-image: url('../img/dots1.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}*/
/**/
.sub-title {
  color: var(--wayako-color2);
  font-weight: 400;
  text-transform: uppercase;
}

.sub-title-sep {
  color: #47404E;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-title-sep:before {
  content: '';
  width: 2rem;
  height: 2px;
  background-color: var(--wayako-color2);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

/**/
.wp-block-navigation-item.current-menu-item a {
  color: var(--wayako-color1);
}

/* Animations */
/**/
/* Pages */
/* Blog and categories (archives) */
/* Single post */
/* Single book */
/* Home page */
/* Qui suis-je */
/* Expertises */
/* Portfolio */
/* Contact */
/**/
/**/
/* Blocks */
/* Block service */
.block-service {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: #FFF;
  border-style: solid;
  border-width: 0 0 0 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1.25rem 0 #eae5ee;
          box-shadow: 0 0 1.25rem 0 #eae5ee;
}

.block-service__picto {
  margin-bottom: 1rem;
}

.block-service__title {
  font-size: 1rem;
  color: var(--wayako-color1);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.block-service__link {
  display: none;
  text-decoration: none;
  margin-bottom: 1rem;
}

.block-service:hover {
  color: white;
  background-color: var(--wayako-color1);
}

.block-service:hover .block-service__title {
  color: white;
}

.block-service:hover .block-service__picto {
  display: none;
}

.block-service:hover .block-service__link {
  display: block;
  color: white;
  margin-top: 2rem;
}

.block-service:hover .block-service__link:hover {
  text-decoration: underline;
}

/* Block pricing */
.block-pricing__inner {
  margin: 0 0 0 0;
  padding: 4rem 2rem;
  border-radius: 16px 16px 16px 16px;
  -webkit-box-shadow: 0 0 20px 0 #eae5ee;
          box-shadow: 0 0 20px 0 #eae5ee;
  text-align: center;
}

.block-pricing__sub-title {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.block-pricing__price {
  font-size: 3.75rem;
  line-height: 0.8;
  font-weight: 700;
  color: var(--wayako-color2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.block-pricing__price-currency {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: calc(32em/100);
}

.block-pricing__price-detail {
  color: #7C797E;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  margin-bottom: 2rem;
}

.block-pricing__description {
  margin-bottom: 2rem;
}

.block-pricing__description ul {
  list-style: none;
  padding-left: 0;
}

.block-pricing__description li {
  font-weight: 300;
}

/* Block hero */
.block-hero {
  background-color: #F6F7FC;
  min-height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 9.375rem;
}

.block-hero__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 15.5rem;
}

.block-hero__sub-title {
  color: var(--wayako-color2);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2.125rem;
  margin-bottom: 0;
}

.block-hero__title {
  color: #1A191C;
  font-size: 4.375rem;
  font-weight: 600;
  line-height: 5rem;
  margin: 1rem 0;
}

/* Block projects */
.block-projects {
  margin-top: 4rem;
}

.block-projects .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.block-projects .button-group button {
  color: #0F0E0F;
  background: unset;
  border: unset;
  border-radius: 0;
  padding: .4375rem .875rem;
  position: relative;
}

.block-projects .button-group button:not(:last-child) {
  margin-right: 1rem;
}

.block-projects .button-group button:hover, .block-projects .button-group button.is-checked {
  color: var(--wayako-color2);
}

.block-projects .button-group button:hover:after, .block-projects .button-group button.is-checked:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1875rem;
  background-color: var(--wayako-color2);
}

.block-projects .grid .grid-item {
  width: 33%;
  padding: 1rem;
}

.block-projects .grid .grid-item__title {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block-projects .grid .grid-item figure {
  position: relative;
  width: 100%;
  padding-bottom: 66%;
  border-radius: 1rem;
  margin-bottom: 0;
  overflow: hidden;
}

.block-projects .grid .grid-item figure img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.block-projects .grid .grid-item figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.block-projects .grid .grid-item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.block-projects .grid .grid-item:hover figcaption {
  opacity: 1;
  background-color: rgba(143, 65, 213, 0.25);
}

/* Block projects slider */
.block-projects-slider {
  padding-left: 25rem;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.block-projects-slider .splide .splide__slide {
  width: 33%;
  padding: 1rem;
}

.block-projects-slider .splide .splide__slide__title {
  color: white;
  font-size: 1rem;
  font-weight: 300;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block-projects-slider .splide .splide__slide figure {
  position: relative;
  width: 100%;
  padding-bottom: 77%;
  border-radius: 1rem;
  margin-bottom: 0;
  overflow: hidden;
}

.block-projects-slider .splide .splide__slide figure img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.block-projects-slider .splide .splide__slide figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.block-projects-slider .splide .splide__slide:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.block-projects-slider .splide .splide__slide:hover figcaption {
  opacity: 1;
  background-color: rgba(143, 65, 213, 0.25);
}

.block-projects-slider .splide .splide__arrows .splide__arrow--prev {
  left: 1rem;
}

.block-projects-slider .splide .splide__arrows .splide__arrow--next {
  right: 1rem;
}

.block-projects-slider .splide .splide__arrows svg {
  stroke: white;
}

/* Block image box */
.block-image-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-image-box figure {
  margin-right: 2rem;
}

/* Block testimonials slider */
.block-testimonials-slider {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.block-testimonials-slider .splide {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.block-testimonials-slider .splide .splide__slide {
  width: 33%;
  padding: 1rem;
}

.block-testimonials-slider .splide .splide__slide .splide__slide-inner {
  background-color: #F6F7FC;
  border-width: 0 0 0 0;
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-testimonials-slider .splide .splide__slide .block-testimonials-slider__testimonial {
  color: #39353D;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.block-testimonials-slider .splide .splide__slide .block-testimonials-slider__name {
  color: #0F0E0F;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 0;
}

.block-testimonials-slider .splide .splide__slide .block-testimonials-slider__function {
  color: #7C797E;
  font-size: .75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}

.block-testimonials-slider .splide .splide__arrows .splide__arrow--prev {
  left: 0;
}

.block-testimonials-slider .splide .splide__arrows .splide__arrow--next {
  right: 0;
}

.block-testimonials-slider .splide .splide__arrows svg {
  stroke: #C3C4C7;
}

/* Buttons */
.wp-block-button .wp-block-button__link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 32px 16px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
  color: white;
  background-color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
}

.wp-block-button.is-style-fill .wp-block-button__link {
  background-color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
}

.wp-block-button.is-style-fill .wp-block-button__link:hover {
  background-color: var(--wayako-color3);
}

/* Header */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header .site-header__main-nav {
  z-index: 1080;
}

@media (max-width: 767.98px) {
  .site-header .site-header__main-nav {
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 2rem;
    background: white;
    -webkit-box-shadow: 0 0.625rem 1.25rem 0 #eae5ee;
            box-shadow: 0 0.625rem 1.25rem 0 #eae5ee;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu {
    margin-left: auto;
  }
}

.site-header .site-header__main-nav ul.main-menu > li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.site-header .site-header__main-nav ul.main-menu > li a {
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu > li > a:hover {
    color: var(--wayako-color1);
  }
  .site-header .site-header__main-nav ul.main-menu > li > a:hover:after {
    content: '';
    display: block;
    width: calc( 100% - 1rem);
    height: 2px;
    background-color: var(--wayako-color2);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .site-header .site-header__main-nav ul.main-menu > li.current-menu-item a {
    color: var(--wayako-color1);
  }
  .site-header .site-header__main-nav ul.main-menu > li.current-menu-item a:after {
    content: '';
    display: block;
    width: calc( 100% - 1rem);
    height: 2px;
    background-color: var(--wayako-color2);
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu {
  background-color: #FFF;
  border: unset;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.dropdown-menu {
    -webkit-box-shadow: 0 0 1.25rem 0 #eae5ee;
            box-shadow: 0 0 1.25rem 0 #eae5ee;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:not(:last-child) {
  border-style: solid;
  border-color: rgba(234, 229, 238, 0.41);
  border-width: 0;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:not(:last-child) {
    border-bottom-width: 1px;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
}

@media (min-width: 768px) {
  .site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li a:hover {
  color: var(--wayako-color1);
  background-color: white;
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:first-child a {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.site-header .site-header__main-nav ul.main-menu ul.dropdown-menu li:last-child a {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* Burger menu */
.site-header .navbar-toggler {
  display: block;
  border: none;
  background: transparent !important;
  padding: 1rem 1rem;
  margin-right: 15px;
  /* &:focus {
            outline: none;
            background: transparent !important;
        }*/
}

@media (min-width: 768px) {
  .site-header .navbar-toggler {
    display: none;
  }
}

.site-header .navbar-toggler:focus, .site-header .navbar-toggler:focus-visible {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  outline: var(--wayako-color1) auto 1px;
}

.site-header .navbar-toggler .icon-bar {
  background-color: #19273F;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.site-header .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.site-header .navbar-toggler .icon-bar + .icon-bar:nth-child(2) {
  width: 16px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.site-header .navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.site-header .navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.site-header .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.site-header .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.site-header .navbar-toggler[aria-expanded="true"] .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

/* Phone */
/* Social */
/* Hero */
/* Footer */
.site-footer {
  font-size: 1rem;
}

.site-footer__container ul {
  list-style: none;
}

.site-footer__container a {
  color: #0F0E0F;
  font-size: 1rem;
  text-decoration: none;
}

.site-footer__container a:hover {
  color: var(--wayako-color1);
}

.site-footer__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.site-footer__widgets > .widget:first-child {
  width: 40%;
}

.site-footer__widgets .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer__widgets .footer-title {
  color: var(--wayako-color2);
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2.125rem;
  margin-bottom: 1.5rem;
}

.site-footer__widgets ul.menu {
  padding-left: 0;
}

.site-footer__widgets ul.menu li {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.site-footer__widgets ul.menu li a {
  font-weight: 500;
  white-space: nowrap;
}

.site-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  border-top: solid var(--wayako-gray1) 1px;
}

.site-footer__copyright ul.menu {
  padding-left: .3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-footer__copyright ul.menu li {
  padding-left: .5rem;
  padding-right: .5rem;
}

.site-footer__copyright > .widget:last-child {
  margin-left: auto;
}

.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-twitter,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-github,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-skype {
  color: #C3C4C7;
}

.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-twitter:hover,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-github:hover,
.site-footer__copyright .wp-block-social-links.is-style-logos-only .wp-social-link-skype:hover {
  color: var(--wayako-color1);
}

/* To top */
#topbutton {
  position: fixed;
  display: none;
  height: 2.125rem;
  width: 2.125rem;
  right: 0.9rem;
  bottom: 0.9rem;
  z-index: 1;
  background-color: var(--wayako-color2);
  text-decoration: none;
  border: solid #FFFFFF 1px;
  border-radius: .5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#topbutton:hover {
  background-color: var(--wayako-color2);
}

#topbutton:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M416 352c-8.188 0-16.38-3.125-22.62-9.375L224 173.3l-169.4 169.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25C432.4 348.9 424.2 352 416 352z'/%3E%3C/svg%3E");
  background-position: center .4375rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Modals */
/* Forms */
input[type=text],
input[type=email] {
  border: solid var(--wayako-gray1) 1px;
  border-radius: 1.025rem;
  padding: 11px 31px;
}

input[type=text]:focus-visible,
input[type=email]:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

textarea {
  border: solid var(--wayako-gray1) 1px;
  border-radius: 1.025rem;
  padding: 11px 31px;
}

textarea:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

::-webkit-input-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

::-moz-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

:-ms-input-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

:-moz-placeholder {
  font-family: "Montserrat", Sans-serif;
  color: #959397;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.35;
}

input[type=submit] {
  color: white;
  background-color: var(--wayako-color1);
  border: solid var(--wayako-color1) 1px;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 32px 16px 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

input[type=submit]:hover {
  background-color: var(--wayako-color3);
}

input[type=submit]:focus-visible {
  outline: var(--wayako-color1) auto 1px;
}

/* Comments */
/* Splide */
.splide__arrow {
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.splide__arrow--prev {
  left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .3125rem;
}

.splide__arrow--next {
  right: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: .3125rem;
}

.splide__arrow svg {
  fill: none;
  stroke: currentColor;
  stroke-linecap: square;
  stroke-width: 8px;
  height: 2.2rem;
  vertical-align: middle;
  width: 2.2rem;
}

/* Plugins */
/* Complianz */
.cmplz-show-banner {
  cursor: pointer;
}

.cmplz-show-banner:hover {
  color: var(--wayako-color1);
}

/* GDPR Data Request Form */
/* Contact Form 7 */
/* Blocks */
/* Gutenberg */
/* Colors variables */
/* Generate Colors classes */
.has-blue-1-color {
  color: #00558F;
}

.has-blue-1-background-color {
  background-color: #00558F;
}

.has-blue-2-color {
  color: #00476A;
}

.has-blue-2-background-color {
  background-color: #00476A;
}

.has-green-1-color {
  color: #0A99A7;
}

.has-green-1-background-color {
  background-color: #0A99A7;
}

.has-green-2-color {
  color: #068799;
}

.has-green-2-background-color {
  background-color: #068799;
}

.has-orange-color {
  color: #f94213;
}

.has-orange-background-color {
  background-color: #f94213;
}

.has-black-color {
  color: #000000;
}

.has-black-background-color {
  background-color: #000000;
}

.has-grey-color {
  color: #F6F7FC;
}

.has-grey-background-color {
  background-color: #F6F7FC;
}

.has-white-color {
  color: #FFFFFF;
}

.has-white-background-color {
  background-color: #FFFFFF;
}

/**/
.alignfull {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.alignwide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  /*  @media (min-width: 1400px) {
        max-width: 1400px;
    }*/
}

@media (min-width: 1200px) {
  .alignwide {
    max-width: 1200px;
  }
}

.row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* Block wp-block-media-text */
.wp-block-media-text.alignwide {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
  background-image: url("../img/dots1.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.wp-block-media-text.alignwide figure {
  position: relative;
  width: 100%;
  padding-bottom: 66%;
  border-radius: 0.5rem 15rem 15rem 15rem;
  overflow: hidden;
}

.wp-block-media-text.alignwide figure img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wp-block-media-text.alignwide:not(.has-media-on-the-right) .wp-block-media-text__content {
  padding-right: 0;
}

.wp-block-media-text.alignwide.has-media-on-the-right {
  background-position: right center;
}

.wp-block-media-text.alignwide.has-media-on-the-right .wp-block-media-text__content {
  padding-left: 0;
}

.wp-block-media-text.alignwide.has-media-on-the-right figure {
  border-radius: 15rem 0.5rem 15rem 15rem;
}

.wp-block-media-text.alignwide.is-header {
  background-image: url("../img/dots1-circles.png");
  margin-top: 2rem;
}

.wp-block-media-text.alignwide.is-header figure {
  padding-bottom: 70%;
}

/* Section services */
.services {
  background-color: #F6F7FC;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  margin-bottom: 5rem;
}

.services .wp-block-columns {
  margin-bottom: 0;
}

.services .wp-block-columns .wp-block-columns {
  padding-right: 4rem;
}

/* Section call to action */
.call-to-action {
  color: white;
  background-color: var(--wayako-color1);
  border-radius: 1rem;
  padding: 1.75rem;
  margin-top: 5rem;
}

.call-to-action.wp-block-columns {
  margin-bottom: 5rem;
}

.call-to-action h3 {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0;
}

.call-to-action .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: white;
  border-color: white;
}

.call-to-action .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover {
  color: var(--wayako-color1);
  background-color: white;
}

/* Element p as read more link */
.read-more-link {
  margin-bottom: 2rem;
}

.read-more-link a {
  color: #0F0E0F;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.read-more-link a:after {
  content: '';
  width: .6875rem;
  height: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%230F0E0F' d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.read-more-link a:hover {
  color: var(--wayako-color1);
}

.read-more-link a:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23f94213' d='M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z'/%3E%3C/svg%3E");
}

/**/
/*
.features {
    .wp-block-columns {
        margin-bottom: 0;
        .wp-block-column {
            padding: 2rem;
            margin-left: 0;
            @media (min-width: 600px) {
                border-right: 1px solid #eeeeee;
                flex-basis: 50%;
            }
            &:nth-child(even) {
                border-right: none;
            }
        }
        &:not(:last-child) {
            .wp-block-column {
                @media (min-width: 600px) {
                    border-bottom: 1px solid #eeeeee;
                }
            }
        }
        &:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
            @media (min-width: 600px) {
                margin-left: 0;
            }
        }
    }
}*/
.breadcrumb {
  font-size: .85em;
}

.breadcrumb a {
  color: #0F0E0F;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
/*# sourceMappingURL=wayako.css.map */