/* Global */

*:focus {
    outline: none;
}


/*
a:focus {
    outline: 1px solid red;
    outline-offset: 4px;
}
button::-moz-focus-inner {
    border: 0;
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 5px orange;
}*/

body {
    font-family: 'Montserrat';
    color: #2D2F2B;
    font-size: 1rem;
    line-height: 1.7;
}

a {
    color: #2D2F2B;
}

a:hover {
    color: #B1AF00;
}

.font-thin {
    font-weight: 100;
}

.font-extralight {
    font-weight: 200;
}

.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-black {
    font-weight: 900;
}


/**/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat';
    font-weight: 700;
}

h1,
.h1 {
    // 52px
    // font-size: 3.75rem;
    //    font-size: calc(1.375rem + 1.5vw);
    @media (min-width: 768px) {
        font-size: 2.6rem;
    }
}

h2,
.h2 {
    // 36px
    @media (min-width: 768px) {
        font-size: 1.8rem;
    }
}

.display-1 {
    // A definir
    font-size: calc(1.625rem + 8vw);
    font-weight: 700;
    line-height: 1;
    @media (min-width: 1200px) {
        //  font-size: 12.5rem;
    }
    @media (min-width: 1400px) {
        // font-size: 9rem;
        font-size: calc(1.625rem + 9vw);
    }
}


/**/

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.is-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: -1;
}


/* Colors */

.bg-gray {
    background-color: #F7F7F7;
}

.bg-green {
    background-color: #B1AF00;
}

.color-gray {
    color: #F7F7F7;
}

.color-green {
    color: #B1AF00;
}


/* Nav */

.nav-link {
    color: #2D2F2B;
    &:focus,
    &:hover {
        color: #B1AF00;
    }
}


/* Btn */

.btn {
    font-size: 1rem;
    border-radius: 0;
    padding: 0.8rem .75rem;
    transition: all 0.5s;
    @media (min-width: 768px) {
        min-width: 19rem;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
    }
}

.btn-dark {
    color: white;
    background-color: #2D2F2B;
    border-color: #2D2F2B;
    &:hover {
        color: white;
        background-color: #B1AF00;
        border-color: #B1AF00;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
    }
}

.btn-outline {
    border-color: #2D2F2B;
    border-width: 1px 0 1px 1px;
    position: relative;
    padding: 1rem 2rem;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1rem;
        height: 1.4375rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.687' height='16.652' viewBox='0 0 23.687 16.652'%3E%3Cg id='Groupe_57' data-name='Groupe 57' transform='translate(-1102.065 1245.342) rotate(-90)'%3E%3Cpath id='Tracé_46' data-name='Tracé 46' d='M-19582.973-7110.935v22.71' transform='translate(20820 8213)' fill='none' stroke='%232d2f2b' stroke-width='1'/%3E%3Cpath id='Tracé_47' data-name='Tracé 47' d='M-19574.254-7078.906l-7.971,7.973-7.975-7.973' transform='translate(20819.242 8195.979)' fill='none' stroke='%232d2f2b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &:hover {
        color: white;
        background-color: #B1AF00;
        border-color: #B1AF00;
        &:after {
            content: none;
        }
    }
}

.btn-link {
    min-width: unset;
}


/**/

.form-control,
.form-check-input {
    &:focus {
        border-color: #B1AF00;
        box-shadow: 0 0 0 0.25rem rgba(177, 175, 0, 0.25);
    }
}

.form-check-input:checked {
    background-color: #B1AF00;
    border-color: #B1AF00;
}


/**/

.list-group-item {
    border-radius: unset !important;
}


/* Social (global) */

.icon-facebook,
.icon-twitter,
.icon-instagram,
.icon-linkedin {
    width: 1rem;
    height: 1rem;
    display: flex;
    display: inline-flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.5rem;
    vertical-align: middle;
}

.icon-facebook {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.251' height='18' viewBox='0 0 9.251 18'%3E%3Cpath id='Tracé_37' data-name='Tracé 37' d='M6830.75,8985.491v2.989H6828v3.11h2.75V9000h3.471v-8.408h2.508s.222-1.546.342-3.131h-2.83v-2.828a.859.859,0,0,1,.8-.723h2.208V8982h-2.69C6830.668,8982,6830.75,8985.028,6830.75,8985.491Z' transform='translate(-6828 -8981.999)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-twitter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.148' height='18' viewBox='0 0 22.148 18'%3E%3Cpath id='Tracé_36' data-name='Tracé 36' d='M537,6289a12.98,12.98,0,0,0,19.907-10.967v-.525a10.068,10.068,0,0,0,2.241-2.336,9.968,9.968,0,0,1-2.575.668h0a4.731,4.731,0,0,0,1.979-2.527,14.526,14.526,0,0,1-2.193.93c-.215.071-.453.143-.667.215a4.517,4.517,0,0,0-3.338-1.454,4.568,4.568,0,0,0-4.554,4.553,4.814,4.814,0,0,0,.119,1.025,13.625,13.625,0,0,1-9.346-4.72s-2.17,2.979,1.311,6.031a4.72,4.72,0,0,1-1.979-.6,4.341,4.341,0,0,0,3.6,4.529,4.133,4.133,0,0,1-2,.071,4.507,4.507,0,0,0,4.172,3.2A8.753,8.753,0,0,1,537,6289Z' transform='translate(-537 -6273)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-instagram {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.978' height='20' viewBox='0 0 19.978 20'%3E%3Cpath id='Tracé_38' data-name='Tracé 38' d='M6635.768,6190h-7.56a6.222,6.222,0,0,0-6.208,6.232v7.559a6.219,6.219,0,0,0,6.208,6.209h7.56a6.22,6.22,0,0,0,6.209-6.209v-7.559a6.222,6.222,0,0,0-6.209-6.232Zm2.272,4.725a.765.765,0,1,0-1.529,0,.765.765,0,1,0,1.529,0Zm-6.051.338a4.949,4.949,0,0,0,0,9.9,4.856,4.856,0,0,0,3.486-1.462,4.915,4.915,0,0,0,0-7A4.837,4.837,0,0,0,6631.989,6195.062Zm0,8.189a3.246,3.246,0,1,1,3.24-3.24,3.219,3.219,0,0,1-.945,2.272A3.252,3.252,0,0,1,6631.989,6203.251Zm8.279.54a4.4,4.4,0,0,1-1.327,3.172,4.491,4.491,0,0,1-3.172,1.327h-7.56a4.585,4.585,0,0,1-3.194-1.327,4.473,4.473,0,0,1-1.305-3.172v-7.559a4.486,4.486,0,0,1,1.305-3.194,4.584,4.584,0,0,1,3.194-1.328h7.56a4.489,4.489,0,0,1,3.172,1.328,4.413,4.413,0,0,1,1.327,3.194Z' transform='translate(-6622 -6190)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-linkedin {
    background-image: url("data:image/svg+xml,%3Csvg id='Groupe_8' data-name='Groupe 8' xmlns='http://www.w3.org/2000/svg' width='20.054' height='20' viewBox='0 0 20.054 20'%3E%3Cpath id='Tracé_23' data-name='Tracé 23' d='M3677.537,3390a2.543,2.543,0,0,1,2.537,2.537,2.537,2.537,0,1,1-2.537-2.537Z' transform='translate(-3675 -3390)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3Cpath id='Tracé_24' data-name='Tracé 24' d='M3690.677,3649.052h-2.964a.7.7,0,0,1-.712-.684v-12.655a.705.705,0,0,1,.712-.712h2.964a.7.7,0,0,1,.684.712v12.655A.694.694,0,0,1,3690.677,3649.052Z' transform='translate(-3686.658 -3629.053)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3Cpath id='Tracé_25' data-name='Tracé 25' d='M3950.625,3627.789a4.787,4.787,0,0,0-4.817-4.789h-.741a4.241,4.241,0,0,0-3.506,1.824,1.6,1.6,0,0,0-.228.371h-.057v-1.568a.286.286,0,0,0-.285-.285h-3.705a.307.307,0,0,0-.285.285v13.482a.307.307,0,0,0,.285.285h3.791a.286.286,0,0,0,.285-.285v-7.782a2.459,2.459,0,0,1,4.19-1.767,2.531,2.531,0,0,1,.712,1.738v7.81a.286.286,0,0,0,.285.285h3.791a.286.286,0,0,0,.285-.285v-9.321Z' transform='translate(-3930.571 -3617.394)' fill='%232d2f2b' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}