/* Buttons */

.wp-block-button {
    .wp-block-button__link {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 16px 32px 16px 32px;
        transition: all .3s;
    }
    &.is-style-outline {
        .wp-block-button__link:not(.has-text-color) {
            color: var(--wayako-color1);
            border: solid var(--wayako-color1) 1px;
            &:hover {
                color: white;
                background-color: var(--wayako-color1);
                border: solid var(--wayako-color1) 1px;
            }
        }
    }
    &.is-style-fill {
        .wp-block-button__link {
            background-color: var(--wayako-color1);
            border: solid var(--wayako-color1) 1px;
            &:hover {
                background-color: var(--wayako-color3);
            }
        }
    }
}