/* Contact Form 7 */

.wpcf7 {
    /*    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;*/
    .required-fields {
        color: #707070;
        font-size: .6875rem;
    }
    label {
        color: #ACACAC;
        font-size: .875rem;
    }
    input[type=text],
    input[type=email],
    input[type=url] {
        border-radius: unset;
        border-width: 0 0 1px 0;
        border-color: #707070;
        background-color: transparent;
    }
     ::-webkit-input-placeholder {
        color: #ACACAC;
        font-size: .75rem;
    }
     ::-moz-placeholder {
        color: #ACACAC;
        font-size: .75rem;
    }
     :-ms-input-placeholder {
        color: #ACACAC;
        font-size: .75rem;
    }
     :-moz-placeholder {
        color: #ACACAC;
        font-size: .75rem;
    }
    textarea {
        max-height: 11rem;
        border-color: #707070;
        border-radius: unset;
        background-color: transparent;
    }
    .ajax-loader {
        display: none;
    }
    .wpcf7-not-valid-tip {
        font-size: 0.875rem;
    }
}