/* Buttons */

[type=button],
[type=reset],
[type=submit],
button {
    color: white;
    // font-size: 1rem;
    background-color: var(--wayako-color1);
    border-color: var(--wayako-color1);
    border-radius: 1.5625rem;
    padding: 11px 31px;
    // -webkit-appearance: unset;
}