/* Buttons */

[type=button],
[type=reset],
[type=submit],
button {
    color: white;
    // font-size: 1rem;
    background-color: var(--wayako-color1);
    border: solid var(--wayako-color1) 1px;
    border-radius: 1.5625rem;
    padding: 10px 30px;
    // -webkit-appearance: unset;
}

.wp-block-button__link {
    color: black;
    background-color: transparent;
    border: solid var(--wayako-color1) 1px;
}