/* Footer */

.site-footer {
    font-size: 1rem;
    &__container {
        ul {
            list-style: none;
        }
        a {
            color: #0F0E0F;
            font-size: 1rem;
            text-decoration: none;
            &:hover {
                color: var(--wayako-color1);
            }
        }
    }
    &__widgets {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8rem;
        margin-bottom: 5rem;
        >.widget:first-child {
            width: 40%;
        }
        .widget {
            display: flex;
            flex-direction: column;
        }
        .footer-title {
            color: var(--wayako-color2);
            font-size: 1.25rem;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 2.125rem;
            margin-bottom: 1.5rem;
        }
        ul.menu {
            padding-left: 0;
            li {
                padding-top: .5rem;
                padding-bottom: .5rem;
                a {
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
    }
    &__copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        margin-bottom: 2rem;
        border-top: solid var(--wayako-gray1) 1px;
        ul.menu {
            padding-left: .3125rem;
            display: flex;
            flex-direction: row;
            li {
                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
        >.widget:last-child {
            margin-left: auto;
        }
        .wp-block-social-links.is-style-logos-only {
            .wp-social-link-twitter,
            .wp-social-link-github,
            .wp-social-link-skype {
                color: #C3C4C7;
                &:hover {
                    color: var(--wayako-color1);
                }
            }
        }
    }
}