/* Forms */

input[type=text],
input[type=email] {
    border: solid var(--wayako-gray1) 1px;
    border-radius: 1.025rem;
    padding: 11px 31px;
    &:focus-visible {
        outline: var(--wayako-color1) auto 1px;
    }
}

textarea {
    border: solid var(--wayako-gray1) 1px;
    border-radius: 1.025rem;
    padding: 11px 31px;
    &:focus-visible {
        outline: var(--wayako-color1) auto 1px;
    }
}

::-webkit-input-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

 ::-moz-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

 :-ms-input-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

 :-moz-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

input[type=submit] {
    color: white;
    background-color: var(--wayako-color1);
    border: solid var(--wayako-color1) 1px;
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 16px 32px 16px 32px;
    transition: all .3s;
    &:hover {
        background-color: var(--wayako-color3);
    }
    &:focus-visible {
        outline: var(--wayako-color1) auto 1px;
    }
}