/* Header */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__branding {}
    &__menus {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /**/
        position: absolute;
        top: 5rem;
        width: 100%;
        background-color: #f5f5f5;
        z-index: 1080;
        @media (min-width: 768px) {
            display: flex !important;
            flex-direction: column;
            position: relative;
            top: unset;
        }
    }
    nav.main-nav {
        @media (min-width: 768px) {
            display: flex;
        }
        .main-menu {
            display: flex;
            flex-direction: column;
            @media (min-width: 768px) {
                flex-direction: row;
            }
        }
    }
}


/* Burger menu */

.site-header {
    .navbar-toggler {
        display: block;
        @media (min-width: 768px) {
            display: none;
        }
        border: none;
        background: transparent !important;
        padding: 2.3rem 1.5rem;
        margin-right: 15px;
        &:focus {
            outline: none;
            background: transparent !important;
        }
        .icon-bar {
            background-color: #19273F;
            transform: rotate(0deg) translate(0px, 0px);
            transition: ease all .2s;
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            +.icon-bar {
                margin-top: 4px;
                &:nth-child(2) {
                    width: 16px;
                    transition: ease all .2s;
                }
            }
        }
        &:hover>.icon-bar:nth-child(2) {
            width: 22px;
            transition: ease all .2s;
        }
        &:active>.icon-bar:nth-child(2) {
            width: 22px;
            transition: ease all .2s;
        }
        &[aria-expanded="true"] .icon-bar {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 4px);
                transition: ease all .2s;
            }
            &:nth-child(2) {
                opacity: 0;
                transition: ease all .2s;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translate(4px, -4px);
                transition: ease all .2s;
            }
        }
    }
}