/* Comments */

.comments-title {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    position: relative;
    padding-top: 6.4rem;
    margin-bottom: 3rem;
    @media (min-width: 768px) {
        padding-top: 9.6rem;
    }
    &:before {
        content: '';
        width: 1px;
        height: 3rem;
        background-color: #707070;
        position: absolute;
        top: 0;
        left: 50%;
        @media (min-width: 768px) {
            height: 6rem;
        }
    }
    &:after {
        content: '';
        width: 2.5rem;
        height: 1.9rem;
        position: absolute;
        top: 3.8rem;
        left: 50%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='38.884' viewBox='0 0 50 38.884'%3E%3Cpath id='comments' d='M46.169,62.743a11.951,11.951,0,0,0,3.819-8.523c0-6.944-6.64-12.681-15.293-13.7C31.961,35.515,25.538,32,18.047,32,8.074,32-.006,38.215-.006,45.887a11.982,11.982,0,0,0,3.819,8.523A22.726,22.726,0,0,1,.541,59.176,2.009,2.009,0,0,0,2,62.561a19.951,19.951,0,0,0,10.867-3.368,24.737,24.737,0,0,0,2.465.425c2.725,4.982,9.122,8.489,16.6,8.489a22.975,22.975,0,0,0,5.19-.59,20,20,0,0,0,10.867,3.368A2.009,2.009,0,0,0,49.45,67.5,22.12,22.12,0,0,1,46.169,62.743ZM12.076,54.732l-1.484.963a17.661,17.661,0,0,1-3.741,1.857c.234-.408.469-.842.694-1.285l1.345-2.7L6.738,51.442A7.958,7.958,0,0,1,4.16,45.887c0-5.268,6.362-9.721,13.887-9.721s13.887,4.453,13.887,9.721-6.362,9.721-13.887,9.721a18.913,18.913,0,0,1-4.253-.486l-1.719-.391Zm31.168,5.043L41.1,61.892l1.345,2.7c.226.443.46.877.694,1.285A17.661,17.661,0,0,1,39.4,64.019l-1.484-.963-1.727.4a18.913,18.913,0,0,1-4.253.486,16.15,16.15,0,0,1-11.4-4.314C29.331,58.69,36.1,52.909,36.1,45.887c0-.3-.035-.582-.061-.868,5.59,1.259,9.782,4.93,9.782,9.2A7.958,7.958,0,0,1,43.244,59.774Z' transform='translate(0.007 -32)' fill='%232d2f2b'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateX(-50%);
        @media (min-width: 768px) {
            top: 7rem;
        }
    }
}

.comment-list {
    max-width: 50.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    list-style: none;
    padding-left: 0;
    li {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &:not(:last-child) {
            border-bottom: solid #ACACAC 1px;
        }
    }
    .meta {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        margin-bottom: 1.5rem;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .comment-block {
        font-size: .875rem;
    }
    .left,
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.75rem;
    }
    .avatar {
        width: 3.2rem;
        height: 3.2rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64.145' height='64.145' viewBox='0 0 64.145 64.145'%3E%3Cg id='Groupe_239' data-name='Groupe 239' transform='translate(-620.602 -6173.457)'%3E%3Cpath id='grin-stars' d='M32.072,8A32.072,32.072,0,1,0,64.145,40.072,32.067,32.067,0,0,0,32.072,8Zm0,57.937A25.865,25.865,0,1,1,57.937,40.072,25.891,25.891,0,0,1,32.072,65.937Zm13.657-19.58a48,48,0,0,1-13.657,1.694,48.064,48.064,0,0,1-13.657-1.694,1.776,1.776,0,0,0-2.289,1.979c1.022,6.1,9.221,10.346,15.946,10.346s14.911-4.255,15.946-10.346A1.781,1.781,0,0,0,45.729,46.357Z' transform='translate(620.602 6165.457)' fill='%232d2f2b'/%3E%3Ccircle id='Ellipse_23' data-name='Ellipse 23' cx='4' cy='4' r='4' transform='translate(639.602 6194.602)' fill='%232d2f2b'/%3E%3Ccircle id='Ellipse_24' data-name='Ellipse 24' cx='4' cy='4' r='4' transform='translate(658.602 6194.602)' fill='%232d2f2b'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 1rem;
    }
    .date {
        color: #707070;
        margin-right: 1rem;
        display: inline-block;
        margin-right: 1.5rem;
        font-size: .75rem;
        &:after {
            content: '';
            display: inline-block;
            width: 1.3rem;
            height: 1.3rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='Groupe_234' data-name='Groupe 234' transform='translate(-869.707 -2298.707)'%3E%3Cg id='Ellipse_22' data-name='Ellipse 22' transform='translate(869.707 2298.707)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'%3E%3Ccircle cx='13' cy='13' r='13' stroke='none'/%3E%3Ccircle cx='13' cy='13' r='12' fill='none'/%3E%3C/g%3E%3Cline id='Ligne_36' data-name='Ligne 36' y1='7.552' transform='translate(882.707 2305.918)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Tracé_136' data-name='Tracé 136' d='M-7373.5-5886.5l3.633,3.634' transform='translate(8255.874 8198.869)' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            margin-left: 1rem;
        }
    }
    .reply-link {
        color: #2D2F2B;
        font-size: .75rem;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        &:after {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1.4375rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.687' height='16.652' viewBox='0 0 23.687 16.652'%3E%3Cg id='Groupe_57' data-name='Groupe 57' transform='translate(-1102.065 1245.342) rotate(-90)'%3E%3Cpath id='Tracé_46' data-name='Tracé 46' d='M-19582.973-7110.935v22.71' transform='translate(20820 8213)' fill='none' stroke='%232d2f2b' stroke-width='1'/%3E%3Cpath id='Tracé_47' data-name='Tracé 47' d='M-19574.254-7078.906l-7.971,7.973-7.975-7.973' transform='translate(20819.242 8195.979)' fill='none' stroke='%232d2f2b' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            margin-left: 0.5rem;
        }
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.comment-reply-title {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 700;
}

form.comment-form {
    .comment-notes {
        color: #707070;
        font-size: .6875rem;
    }
    .comment-form-comment {
        margin-bottom: 3rem;
        label {
            color: #ACACAC;
            font-size: .875rem;
            margin-bottom: 0.5rem;
        }
    }
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        @media (min-width: 768px) {
            width: 30%;
        }
        @media (min-width: 1400px) {
            width: 27%;
        }
    }
    input[type=text],
    input[type=email],
    input[type=url] {
        border-radius: unset;
        border-width: 0 0 1px 0;
        border-color: #707070;
    }
     ::-webkit-input-placeholder {
        color: #ACACAC;
        font-size: .875rem;
    }
     ::-moz-placeholder {
        color: #ACACAC;
        font-size: .875rem;
    }
     :-ms-input-placeholder {
        color: #ACACAC;
        font-size: .875rem;
    }
     :-moz-placeholder {
        color: #ACACAC;
        font-size: .875rem;
    }
    textarea {
        border-color: #707070;
        border-radius: unset;
    }
    .comment-form-cookies-consent {
        display: flex;
        justify-content: center;
        align-items: center;
        input[type=checkbox] {
            width: 1.875rem;
            height: 1.875rem;
            border-color: #707070;
            border-radius: unset;
            margin-top: 0;
        }
        label {
            font-size: .875rem;
        }
    }
    .form-submit {
        text-align: center;
    }
}