/* Contact Form 7 */

::-webkit-input-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

 ::-moz-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

 :-ms-input-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}

 :-moz-placeholder {
    font-family: "Montserrat", Sans-serif;
    color: #959397;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.35;
}