/* Cookie law - GDPR Cookie Consent */

.cli-modal .cli-modal-close {
    right: 1rem;
    top: 1rem;
}

.cli-modal .cli-modal-dialog {
    color: #2D2F2B;
}

.cli-tab-container h4,
.cli-tab-container h1 {
    font-size: 1.25rem;
    line-height: 1.5;
}

.cli-modal .cli-tab-container p,
.cli-modal .cli-privacy-content-text {
    color: #2D2F2B;
}

.cli-modal .cli-privacy-content-text a {
    text-decoration: underline;
}

a.cli-privacy-readmore {
    color: #2D2F2B;
}

.cli-tab-header a.cli-nav-link {
    color: #2D2F2B;
}

span.cli-necessary-caption {
    color: #2D2F2B;
}

.cli-modal .cli-tab-pane table {
    color: #2D2F2B;
}

.cli-switch input:checked+.cli-slider {
    background-color: #B1AF00;
}

.cli-switch .cli-slider:after {
    color: #2D2F2B;
}

.cli-tab-footer .wt-cli-privacy-accept-btn {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.5rem 1.5rem;
    background-color: #B1AF00;
}